/node_modules
/coverage
/build
/\.firebase
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
\.npmrc
\.env
\.devtools-lock
resources/
tmp/
\.dist/
#archive/

archive/

\.notes
dist/

docs/content/
