.results-section {
  .top-container {
    background-color: #f9f9f8;
    border-bottom: 1px solid rgb(224, 228, 232);

    h1 {
      padding-top: 100px;
    }

    h3 {
      margin-bottom: 0;
      text-align: center;
    }
  }

  .tab-container {
    display: flex;
    justify-content: left;
    width: 100%;

    .tab-button {
      background-color: #f9f9f8;
      cursor: pointer;
      border: none;
      height: 60px;
      width: 150px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 1px solid rgb(224, 228, 232);
      outline: none;

      &.selected {
        background-color: white;
        border-top: 3px solid var(--color-primary);
        border-right: 1px solid rgb(225, 228, 232);
        border-left: 1px solid rgb(224, 228, 232);
        border-bottom: 1px solid white;
      }
    }
  }

  .selected-section {
    margin-top: .3em;

    .results-loader {
      margin-top: -20px;
      height: 500px;
    }

    h2 {
      &.no-results {
        margin-top: 50px;
        text-align: center;
      }
    }
  }
}
