.submission_selector {
  display: flex;
  justify-content: flex-end;
  padding: .66em 0;
  font-size: .9em;

  &__item {
    border-radius: 4px;
    border: 1px solid;
    cursor: pointer;
    font-size: .8em;
    font-weight: 700;
    margin: 0 .33em;
    padding: .4em 1.33em;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-grey-dk3);

    &.selected {
      background-color: var(--color-bluegrey-lt3);
    }

    &.disabled {
      cursor: unset;
      color: var(--color-grey-lt1);
    }
  }
}
