.hack_card_list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.hack_card_list__item {
  margin-top: 1em;
}

.hack_card {
  min-height: 3em;
  min-width: 30%;
  padding: 1em;
  text-align: left;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  border: none;
  background-color: white;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  &.newHackCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      color: var(--color-primary);
      font-size: 20px;
      font-weight: 800;
      margin: 0;

      &:first-child {
        line-height: 40px;
        font-size: 40px;
      }
    }
  }

  .hack_title {
    line-height: 1;
    font-size: 1em;
    margin: 0 0 0 15px;
  }

  span {
    font-size: 12px;
    margin-left: 15px;
  }
}
