.footer .footer_container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer .footer_container_block {
  padding: 0.5em 1em;
}

.site_footer {
  font-size: 0.8em;
  line-height: 2;
}

.site_footer:first-child {
  text-align: left;
}

.site_footer:last-child {
  font-weight: bold;
  text-align: right;
}

.section.full-height {
  height: 100vh;
}
