:root {
  --color-surface: white;
  --color-solid: black;
  --color-primary: #ffce35;
}

.c-primary { color: var(--color-primary) !important; }
.bg-primary { background-color: var(--color-primary) !important; }
.bdc-primary { border-color: var(--color-primary) !important; }
