.stats_section .stats_row {
  display: flex;
  flex-wrap: wrap;
}

.stats_section .stats_card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .stats_section .stats_card {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .stats_section .stats_row {
    flex-wrap: nowrap;
  }
  .stats_section .stats_card {
    flex-basis: 25%;
  }
}

.stats_section .impact_row {
  display: flex;
  flex-wrap: wrap;
}

.stats_section .impact_card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .stats_section .impact_card {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 800px) {
  .stats_section .impact_row {
    flex-wrap: nowrap;
  }
  .stats_section .impact_card {
    flex-basis: 33%;
  }
}
