/*
  IronHacks Platform
  footer.css - Footer style sheet
  Created by: Alejandro Díaz Vecchio - aldiazve@unal.edu.co
*/
:root {
  --main-bg-color: #FFCE35;
}

.footer {
	height: 50px;
	background-color: var(--main-bg-color);
}