.footer {
  .footer_container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &_block {
      padding: 0.5em 1em;
    }
  }
}

.site_footer {
  font-size: 0.8em;
  line-height: 2;

  &:first-child {
    text-align: left;
  }

  &:last-child {
    font-weight: bold;
    text-align: right;
  }
}
