.videos_section,
.examples_section {
  .card {
    background-color: transparent;
    border: none;
  }

  .card_row {
    display: flex;
    flex-wrap: wrap;
  }

  .card_col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 800px){
    .card_row {
      flex-wrap: nowrap;
    }
  }
}
