.button {
  user-select: none;
  user-drag: none;
  cursor: pointer;
  position: relative;
  display: inline-block;

  &:hover::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,.1);
  }
}

.login-button {
  padding: 10px 10px;
  margin-right: 4px;
  margin-top: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: none;
  border: 2px solid black;
  trasition: color 0.5s;

  &:hover {
    background-color: rgba(0, 0, 0, .3);
    text-decoration: none;
  }
}
