.bg-amber-ac1{ background-color:#ffe57f !important; }
.bg-amber-ac2{ background-color:#ffd740 !important; }
.bg-amber-ac3{ background-color:#ffc400 !important; }
.bg-amber-ac4{ background-color:#ffab00 !important; }
.bg-amber-dk1{ background-color:#ffb300 !important; }
.bg-amber-dk2{ background-color:#ffa000 !important; }
.bg-amber-dk3{ background-color:#ff8f00 !important; }
.bg-amber-dk4{ background-color:#ff6f00 !important; }
.bg-amber-lt1{ background-color:#ffca28 !important; }
.bg-amber-lt2{ background-color:#ffd54f !important; }
.bg-amber-lt3{ background-color:#ffe082 !important; }
.bg-amber-lt4{ background-color:#ffecb3 !important; }
.bg-amber-lt5{ background-color:#fff8e1 !important; }
.bg-blue-ac1{ background-color:#82b1ff !important; }
.bg-blue-ac2{ background-color:#448aff !important; }
.bg-blue-ac3{ background-color:#2979ff !important; }
.bg-blue-ac4{ background-color:#2962ff !important; }
.bg-blue-dk1{ background-color:#1e88e5 !important; }
.bg-blue-dk2{ background-color:#1976d2 !important; }
.bg-blue-dk3{ background-color:#1565c0 !important; }
.bg-blue-dk4{ background-color:#0d47a1 !important; }
.bg-blue-lt1{ background-color:#42a5f5 !important; }
.bg-blue-lt2{ background-color:#64b5f6 !important; }
.bg-blue-lt3{ background-color:#90caf9 !important; }
.bg-blue-lt4{ background-color:#bbdefb !important; }
.bg-blue-lt5{ background-color:#e3f2fd !important; }
.bg-cyan-ac1{ background-color:#84ffff !important; }
.bg-cyan-ac2{ background-color:#18ffff !important; }
.bg-cyan-ac3{ background-color:#00e5ff !important; }
.bg-cyan-ac4{ background-color:#00b8d4 !important; }
.bg-cyan-dk1{ background-color:#00acc1 !important; }
.bg-cyan-dk2{ background-color:#0097a7 !important; }
.bg-cyan-dk3{ background-color:#00838f !important; }
.bg-cyan-dk4{ background-color:#006064 !important; }
.bg-cyan-lt1{ background-color:#26c6da !important; }
.bg-cyan-lt2{ background-color:#4dd0e1 !important; }
.bg-cyan-lt3{ background-color:#80deea !important; }
.bg-cyan-lt4{ background-color:#b2ebf2 !important; }
.bg-cyan-lt5{ background-color:#e0f7fa !important; }
.bg-cyan{ background-color:#00bcd4 !important; }
.bg-deep-orange-ac1{ background-color:#ff9e80 !important; }
.bg-deep-orange-ac2{ background-color:#ff6e40 !important; }
.bg-deep-orange-ac3{ background-color:#ff3d00 !important; }
.bg-deep-orange-ac4{ background-color:#dd2c00 !important; }
.bg-deep-orange-dk1{ background-color:#f4511e !important; }
.bg-deep-orange-dk2{ background-color:#e64a19 !important; }
.bg-deep-orange-dk3{ background-color:#d84315 !important; }
.bg-deep-orange-dk4{ background-color:#bf360c !important; }
.bg-deep-orange-lt1{ background-color:#ff7043 !important; }
.bg-deep-orange-lt2{ background-color:#ff8a65 !important; }
.bg-deep-orange-lt3{ background-color:#ffab91 !important; }
.bg-deep-orange-lt4{ background-color:#ffccbc !important; }
.bg-deep-orange-lt5{ background-color:#fbe9e7 !important; }
.bg-deep-orange{ background-color:#ff5722 !important; }
.bg-deep-purple-ac1{ background-color:#b388ff !important; }
.bg-deep-purple-ac2{ background-color:#7c4dff !important; }
.bg-deep-purple-ac3{ background-color:#651fff !important; }
.bg-deep-purple-ac4{ background-color:#6200ea !important; }
.bg-deep-purple-dk1{ background-color:#5e35b1 !important; }
.bg-deep-purple-dk2{ background-color:#512da8 !important; }
.bg-deep-purple-dk3{ background-color:#4527a0 !important; }
.bg-deep-purple-dk4{ background-color:#311b92 !important; }
.bg-deep-purple-lt1{ background-color:#7e57c2 !important; }
.bg-deep-purple-lt2{ background-color:#9575cd !important; }
.bg-deep-purple-lt3{ background-color:#b39ddb !important; }
.bg-deep-purple-lt4{ background-color:#d1c4e9 !important; }
.bg-deep-purple-lt5{ background-color:#ede7f6 !important; }
.bg-deep-purple{ background-color:#673ab7 !important; }
.bg-green-ac1{ background-color:#b9f6ca !important; }
.bg-green-ac2{ background-color:#69f0ae !important; }
.bg-green-ac3{ background-color:#00e676 !important; }
.bg-green-ac4{ background-color:#00c853 !important; }
.bg-green-blue{ background-color:#2887c8 !important; }
.bg-green-dk1{ background-color:#43a047 !important; }
.bg-green-dk2{ background-color:#388e3c !important; }
.bg-green-dk3{ background-color:#2e7d32 !important; }
.bg-green-dk4{ background-color:#1b5e20 !important; }
.bg-green-lt1{ background-color:#66bb6a !important; }
.bg-green-lt2{ background-color:#81c784 !important; }
.bg-green-lt3{ background-color:#a5d6a7 !important; }
.bg-green-lt4{ background-color:#c8e6c9 !important; }
.bg-green-lt5{ background-color:#e8f5e9 !important; }
.bg-grey-dk1{ background-color:#757575 !important; }
.bg-grey-dk2{ background-color:#616161 !important; }
.bg-grey-dk3{ background-color:#424242 !important; }
.bg-grey-dk4{ background-color:#212121 !important; }
.bg-grey-lt1{ background-color:#bdbdbd !important; }
.bg-grey-lt2{ background-color:#e0e0e0 !important; }
.bg-grey-lt3{ background-color:#eeeeee !important; }
.bg-grey-lt4{ background-color:#f5f5f5 !important; }
.bg-grey-lt5{ background-color:#fafafa !important; }
.bg-grey{ background-color:#9e9e9e !important; }
.bg-indian_red{ background-color:#b94e48 !important; }
.bg-indigo-ac1{ background-color:#8c9eff !important; }
.bg-indigo-ac2{ background-color:#536dfe !important; }
.bg-indigo-ac3{ background-color:#3d5afe !important; }
.bg-indigo-ac4{ background-color:#304ffe !important; }
.bg-indigo-dk1{ background-color:#3949ab !important; }
.bg-indigo-dk2{ background-color:#303f9f !important; }
.bg-indigo-dk3{ background-color:#283593 !important; }
.bg-indigo-dk4{ background-color:#1a237e !important; }
.bg-indigo-lt1{ background-color:#5c6bc0 !important; }
.bg-indigo-lt2{ background-color:#7986cb !important; }
.bg-indigo-lt3{ background-color:#9fa8da !important; }
.bg-indigo-lt4{ background-color:#c5cae9 !important; }
.bg-indigo-lt5{ background-color:#e8eaf6 !important; }
.bg-indigo{ background-color:#4f69c6 !important; }
.bg-lightblue-ac1{ background-color:#80d8ff !important; }
.bg-lightblue-ac2{ background-color:#40c4ff !important; }
.bg-lightblue-ac3{ background-color:#00b0ff !important; }
.bg-lightblue-ac4{ background-color:#0091ea !important; }
.bg-lightblue-dk1{ background-color:#039be5 !important; }
.bg-lightblue-dk2{ background-color:#0288d1 !important; }
.bg-lightblue-dk3{ background-color:#0277bd !important; }
.bg-lightblue-dk4{ background-color:#01579b !important; }
.bg-lightblue-lt1{ background-color:#29b6f6 !important; }
.bg-lightblue-lt2{ background-color:#4fc3f7 !important; }
.bg-lightblue-lt3{ background-color:#81d4fa !important; }
.bg-lightblue-lt4{ background-color:#b3e5fc !important; }
.bg-lightblue-lt5{ background-color:#e1f5fe !important; }
.bg-lightblue{ background-color:#03a9f4 !important; }
.bg-lightgreen-ac1{ background-color:#ccff90 !important; }
.bg-lightgreen-ac2{ background-color:#b2ff59 !important; }
.bg-lightgreen-ac3{ background-color:#76ff03 !important; }
.bg-lightgreen-ac4{ background-color:#64dd17 !important; }
.bg-lightgreen-dk1{ background-color:#7cb342 !important; }
.bg-lightgreen-dk2{ background-color:#689f38 !important; }
.bg-lightgreen-dk3{ background-color:#558b2f !important; }
.bg-lightgreen-dk4{ background-color:#33691e !important; }
.bg-lightgreen-lt1{ background-color:#9ccc65 !important; }
.bg-lightgreen-lt2{ background-color:#aed581 !important; }
.bg-lightgreen-lt3{ background-color:#c5e1a5 !important; }
.bg-lightgreen-lt4{ background-color:#dcedc8 !important; }
.bg-lightgreen-lt5{ background-color:#f1f8e9 !important; }
.bg-lightgreen{ background-color:#8bc34a !important; }
.bg-lime-ac1{ background-color:#f4ff81 !important; }
.bg-lime-ac2{ background-color:#eeff41 !important; }
.bg-lime-ac3{ background-color:#c6ff00 !important; }
.bg-lime-ac4{ background-color:#aeea00 !important; }
.bg-lime-dk1{ background-color:#c0ca33 !important; }
.bg-lime-dk2{ background-color:#afb42b !important; }
.bg-lime-dk3{ background-color:#9e9d24 !important; }
.bg-lime-dk4{ background-color:#827717 !important; }
.bg-lime-lt1{ background-color:#d4e157 !important; }
.bg-lime-lt2{ background-color:#dce775 !important; }
.bg-lime-lt3{ background-color:#e6ee9c !important; }
.bg-lime-lt4{ background-color:#f0f4c3 !important; }
.bg-lime-lt5{ background-color:#f9fbe7 !important; }
.bg-lime{ background-color:#cddc39 !important; }
.bg-orange-ac1{ background-color:#ffd180 !important; }
.bg-orange-ac2{ background-color:#ffab40 !important; }
.bg-orange-ac3{ background-color:#ff9100 !important; }
.bg-orange-ac4{ background-color:#ff6d00 !important; }
.bg-orange-dk1{ background-color:#fb8c00 !important; }
.bg-orange-dk2{ background-color:#f57c00 !important; }
.bg-orange-dk3{ background-color:#ef6c00 !important; }
.bg-orange-dk4{ background-color:#e65100 !important; }
.bg-orange-lt1{ background-color:#ffa726 !important; }
.bg-orange-lt2{ background-color:#ffb74d !important; }
.bg-orange-lt3{ background-color:#ffcc80 !important; }
.bg-orange-lt4{ background-color:#ffe0b2 !important; }
.bg-orange-lt5{ background-color:#fff3e0 !important; }
.bg-orange-red{ background-color:#ff5349 !important; }
.bg-orange{ background-color:#ff9800 !important; }
.bg-yellow-ac1{ background-color:#ffff8d !important; }
.bg-yellow-ac2{ background-color:#ffff00 !important; }
.bg-yellow-ac3{ background-color:#ffea00 !important; }
.bg-yellow-ac4{ background-color:#ffd600 !important; }
.bg-yellow-dk1{ background-color:#fdd835 !important; }
.bg-yellow-dk2{ background-color:#fbc02d !important; }
.bg-yellow-dk3{ background-color:#f9a825 !important; }
.bg-yellow-dk4{ background-color:#f57f17 !important; }
.bg-yellow-green{ background-color:#c5e17a !important; }
.bg-yellow-lt1{ background-color:#ffee58 !important; }
.bg-yellow-lt2{ background-color:#fff176 !important; }
.bg-yellow-lt3{ background-color:#fff59d !important; }
.bg-yellow-lt4{ background-color:#fff9c4 !important; }
.bg-yellow-lt5{ background-color:#fffde7 !important; }
.bg-yellow{ background-color:#ffeb3b !important; }

.bg-black{ background-color:#000000 !important; }
.bg-blue{ background-color:#2196f3 !important; }

.bg-gray{ background-color:#8b8680 !important; }
.bg-green{ background-color:#4caf50 !important; }

.bg-pink-ac1{ background-color:#ff80ab !important; }
.bg-pink-ac2{ background-color:#ff4081 !important; }
.bg-pink-ac3{ background-color:#f50057 !important; }
.bg-pink-ac4{ background-color:#c51162 !important; }
.bg-pink-dk1{ background-color:#d81b60 !important; }
.bg-pink-dk2{ background-color:#c2185b !important; }
.bg-pink-dk3{ background-color:#ad1457 !important; }
.bg-pink-dk4{ background-color:#880e4f !important; }
.bg-pink-lt1{ background-color:#ec407a !important; }
.bg-pink-lt2{ background-color:#f06292 !important; }
.bg-pink-lt3{ background-color:#f48fb1 !important; }
.bg-pink-lt4{ background-color:#f8bbd0 !important; }
.bg-pink-lt5{ background-color:#fce4ec !important; }
.bg-pink{ background-color:#e91e63 !important; }

.bg-purple-ac1{ background-color:#ea80fc !important; }
.bg-purple-ac2{ background-color:#e040fb !important; }
.bg-purple-ac3{ background-color:#d500f9 !important; }
.bg-purple-ac4{ background-color:#aa00ff !important; }
.bg-purple-dk1{ background-color:#8e24aa !important; }
.bg-purple-dk2{ background-color:#7b1fa2 !important; }
.bg-purple-dk3{ background-color:#6a1b9a !important; }
.bg-purple-dk4{ background-color:#4a148c !important; }
.bg-purple-lt1{ background-color:#ab47bc !important; }
.bg-purple-lt2{ background-color:#ba68c8 !important; }
.bg-purple-lt3{ background-color:#ce93d8 !important; }
.bg-purple-lt4{ background-color:#e1bee7 !important; }
.bg-purple-lt5{ background-color:#f3e5f5 !important; }
.bg-purple{ background-color:#9c27b0 !important; }

.bg-red-ac1{ background-color:#ff8a80 !important; }
.bg-red-ac2{ background-color:#ff5252 !important; }
.bg-red-ac3{ background-color:#ff1744 !important; }
.bg-red-ac4{ background-color:#d50000 !important; }
.bg-red-dk1{ background-color:#e53935 !important; }
.bg-red-dk2{ background-color:#d32f2f !important; }
.bg-red-dk3{ background-color:#c62828 !important; }
.bg-red-dk4{ background-color:#b71c1c !important; }
.bg-red-lt1{ background-color:#ef5350 !important; }
.bg-red-lt2{ background-color:#e57373 !important; }
.bg-red-lt3{ background-color:#ef9a9a !important; }
.bg-red-lt4{ background-color:#ffcdd2 !important; }
.bg-red-lt5{ background-color:#ffebee !important; }
.bg-red{ background-color:#f44336 !important; }

.bg-teal_blue{ background-color:#008080 !important; }
.bg-teal-ac1{ background-color:#a7ffeb !important; }
.bg-teal-ac2{ background-color:#64ffda !important; }
.bg-teal-ac3{ background-color:#1de9b6 !important; }
.bg-teal-ac4{ background-color:#00bfa5 !important; }
.bg-teal-dk1{ background-color:#00897b !important; }
.bg-teal-dk2{ background-color:#00796b !important; }
.bg-teal-dk3{ background-color:#00695c !important; }
.bg-teal-dk4{ background-color:#004d40 !important; }
.bg-teal-lt1{ background-color:#26a69a !important; }
.bg-teal-lt2{ background-color:#4db6ac !important; }
.bg-teal-lt3{ background-color:#80cbc4 !important; }
.bg-teal-lt4{ background-color:#b2dfdb !important; }
.bg-teal-lt5{ background-color:#e0f2f1 !important; }
.bg-teal{ background-color:#009688 !important; }

.bg-white{ background-color:#ffffff !important; }

.cl-black{ color:black; }
.cl-white{ color:white; }
.cl-amber-ac1{ color:#ffe57f !important; }
.cl-amber-ac2{ color:#ffd740 !important; }
.cl-amber-ac3{ color:#ffc400 !important; }
.cl-amber-ac4{ color:#ffab00 !important; }
.cl-amber-dk1{ color:#ffb300 !important; }
.cl-amber-dk2{ color:#ffa000 !important; }
.cl-amber-dk3{ color:#ff8f00 !important; }
.cl-amber-dk4{ color:#ff6f00 !important; }
.cl-amber-lt1{ color:#ffca28 !important; }
.cl-amber-lt2{ color:#ffd54f !important; }
.cl-amber-lt3{ color:#ffe082 !important; }
.cl-amber-lt4{ color:#ffecb3 !important; }
.cl-amber-lt5{ color:#fff8e1 !important; }
.cl-amber{ color:#ffc107 !important; }
.cl-black{ color:#000000 !important; }
.cl-blue-ac1{ color:#82b1ff !important; }
.cl-blue-ac2{ color:#448aff !important; }
.cl-blue-ac3{ color:#2979ff !important; }
.cl-blue-ac4{ color:#2962ff !important; }
.cl-blue-dk1{ color:#1e88e5 !important; }
.cl-blue-dk2{ color:#1976d2 !important; }
.cl-blue-dk3{ color:#1565c0 !important; }
.cl-blue-dk4{ color:#0d47a1 !important; }
.cl-blue-lt1{ color:#42a5f5 !important; }
.cl-blue-lt2{ color:#64b5f6 !important; }
.cl-blue-lt3{ color:#90caf9 !important; }
.cl-blue-lt4{ color:#bbdefb !important; }
.cl-blue-lt5{ color:#e3f2fd !important; }
.cl-blue{ color:#2196f3 !important; }
.cl-brown-dk1{ color:#6d4c41 !important; }
.cl-brown-dk2{ color:#5d4037 !important; }
.cl-brown-dk3{ color:#4e342e !important; }
.cl-brown-dk4{ color:#3e2723 !important; }
.cl-brown-lt1{ color:#8d6e63 !important; }
.cl-brown-lt2{ color:#a1887f !important; }
.cl-brown-lt3{ color:#bcaaa4 !important; }
.cl-brown-lt4{ color:#d7ccc8 !important; }
.cl-brown-lt5{ color:#efebe9 !important; }
.cl-brown{ color:#795548 !important; }
.cl-cyan-ac1{ color:#84ffff !important; }
.cl-cyan-ac2{ color:#18ffff !important; }
.cl-cyan-ac3{ color:#00e5ff !important; }
.cl-cyan-ac4{ color:#00b8d4 !important; }
.cl-cyan-dk1{ color:#00acc1 !important; }
.cl-cyan-dk2{ color:#0097a7 !important; }
.cl-cyan-dk3{ color:#00838f !important; }
.cl-cyan-dk4{ color:#006064 !important; }
.cl-cyan-lt1{ color:#26c6da !important; }
.cl-cyan-lt2{ color:#4dd0e1 !important; }
.cl-cyan-lt3{ color:#80deea !important; }
.cl-cyan-lt4{ color:#b2ebf2 !important; }
.cl-cyan-lt5{ color:#e0f7fa !important; }
.cl-cyan{ color:#00bcd4 !important; }
.cl-deep-orange-ac1{ color:#ff9e80 !important; }
.cl-deep-orange-ac2{ color:#ff6e40 !important; }
.cl-deep-orange-ac3{ color:#ff3d00 !important; }
.cl-deep-orange-ac4{ color:#dd2c00 !important; }
.cl-deep-orange-dk1{ color:#f4511e !important; }
.cl-deep-orange-dk2{ color:#e64a19 !important; }
.cl-deep-orange-dk3{ color:#d84315 !important; }
.cl-deep-orange-dk4{ color:#bf360c !important; }
.cl-deep-orange-lt1{ color:#ff7043 !important; }
.cl-deep-orange-lt2{ color:#ff8a65 !important; }
.cl-deep-orange-lt3{ color:#ffab91 !important; }
.cl-deep-orange-lt4{ color:#ffccbc !important; }
.cl-deep-orange-lt5{ color:#fbe9e7 !important; }
.cl-deep-orange{ color:#ff5722 !important; }
.cl-deep-purple-ac1{ color:#b388ff !important; }
.cl-deep-purple-ac2{ color:#7c4dff !important; }
.cl-deep-purple-ac3{ color:#651fff !important; }
.cl-deep-purple-ac4{ color:#6200ea !important; }
.cl-deep-purple-dk1{ color:#5e35b1 !important; }
.cl-deep-purple-dk2{ color:#512da8 !important; }
.cl-deep-purple-dk3{ color:#4527a0 !important; }
.cl-deep-purple-dk4{ color:#311b92 !important; }
.cl-deep-purple-lt1{ color:#7e57c2 !important; }
.cl-deep-purple-lt2{ color:#9575cd !important; }
.cl-deep-purple-lt3{ color:#b39ddb !important; }
.cl-deep-purple-lt4{ color:#d1c4e9 !important; }
.cl-deep-purple-lt5{ color:#ede7f6 !important; }
.cl-deep-purple{ color:#673ab7 !important; }
.cl-green-ac1{ color:#b9f6ca !important; }
.cl-green-ac2{ color:#69f0ae !important; }
.cl-green-ac3{ color:#00e676 !important; }
.cl-green-ac4{ color:#00c853 !important; }
.cl-green-dk1{ color:#43a047 !important; }
.cl-green-dk2{ color:#388e3c !important; }
.cl-green-dk3{ color:#2e7d32 !important; }
.cl-green-dk4{ color:#1b5e20 !important; }
.cl-green-lt1{ color:#66bb6a !important; }
.cl-green-lt2{ color:#81c784 !important; }
.cl-green-lt3{ color:#a5d6a7 !important; }
.cl-green-lt4{ color:#c8e6c9 !important; }
.cl-green-lt5{ color:#e8f5e9 !important; }
.cl-green{ color:#4caf50 !important; }
.cl-grey-dk1{ color:#757575 !important; }
.cl-grey-dk2{ color:#616161 !important; }
.cl-grey-dk3{ color:#424242 !important; }
.cl-grey-dk4{ color:#212121 !important; }
.cl-grey-lt1{ color:#bdbdbd !important; }
.cl-grey-lt2{ color:#e0e0e0 !important; }
.cl-grey-lt3{ color:#eeeeee !important; }
.cl-grey-lt4{ color:#f5f5f5 !important; }
.cl-grey-lt5{ color:#fafafa !important; }
.cl-grey{ color:#9e9e9e !important; }
.cl-indigo-ac1{ color:#8c9eff !important; }
.cl-indigo-ac2{ color:#536dfe !important; }
.cl-indigo-ac3{ color:#3d5afe !important; }
.cl-indigo-ac4{ color:#304ffe !important; }
.cl-indigo-dk1{ color:#3949ab !important; }
.cl-indigo-dk2{ color:#303f9f !important; }
.cl-indigo-dk3{ color:#283593 !important; }
.cl-indigo-dk4{ color:#1a237e !important; }
.cl-indigo-lt1{ color:#5c6bc0 !important; }
.cl-indigo-lt2{ color:#7986cb !important; }
.cl-indigo-lt3{ color:#9fa8da !important; }
.cl-indigo-lt4{ color:#c5cae9 !important; }
.cl-indigo-lt5{ color:#e8eaf6 !important; }
.cl-indigo{ color:#3f51b5 !important; }
.cl-lightblue-ac1{ color:#80d8ff !important; }
.cl-lightblue-ac2{ color:#40c4ff !important; }
.cl-lightblue-ac3{ color:#00b0ff !important; }
.cl-lightblue-ac4{ color:#0091ea !important; }
.cl-lightblue-dk1{ color:#039be5 !important; }
.cl-lightblue-dk2{ color:#0288d1 !important; }
.cl-lightblue-dk3{ color:#0277bd !important; }
.cl-lightblue-dk4{ color:#01579b !important; }
.cl-lightblue-lt1{ color:#29b6f6 !important; }
.cl-lightblue-lt2{ color:#4fc3f7 !important; }
.cl-lightblue-lt3{ color:#81d4fa !important; }
.cl-lightblue-lt4{ color:#b3e5fc !important; }
.cl-lightblue-lt5{ color:#e1f5fe !important; }
.cl-lightblue{ color:#03a9f4 !important; }
.cl-lightgreen-ac1{ color:#ccff90 !important; }
.cl-lightgreen-ac2{ color:#b2ff59 !important; }
.cl-lightgreen-ac3{ color:#76ff03 !important; }
.cl-lightgreen-ac4{ color:#64dd17 !important; }
.cl-lightgreen-dk1{ color:#7cb342 !important; }
.cl-lightgreen-dk2{ color:#689f38 !important; }
.cl-lightgreen-dk3{ color:#558b2f !important; }
.cl-lightgreen-dk4{ color:#33691e !important; }
.cl-lightgreen-lt1{ color:#9ccc65 !important; }
.cl-lightgreen-lt2{ color:#aed581 !important; }
.cl-lightgreen-lt3{ color:#c5e1a5 !important; }
.cl-lightgreen-lt4{ color:#dcedc8 !important; }
.cl-lightgreen-lt5{ color:#f1f8e9 !important; }
.cl-lightgreen{ color:#8bc34a !important; }
.cl-lime-ac1{ color:#f4ff81 !important; }
.cl-lime-ac2{ color:#eeff41 !important; }
.cl-lime-ac3{ color:#c6ff00 !important; }
.cl-lime-ac4{ color:#aeea00 !important; }
.cl-lime-dk1{ color:#c0ca33 !important; }
.cl-lime-dk2{ color:#afb42b !important; }
.cl-lime-dk3{ color:#9e9d24 !important; }
.cl-lime-dk4{ color:#827717 !important; }
.cl-lime-lt1{ color:#d4e157 !important; }
.cl-lime-lt2{ color:#dce775 !important; }
.cl-lime-lt3{ color:#e6ee9c !important; }
.cl-lime-lt4{ color:#f0f4c3 !important; }
.cl-lime-lt5{ color:#f9fbe7 !important; }
.cl-lime{ color:#cddc39 !important; }
.cl-orange-ac1{ color:#ffd180 !important; }
.cl-orange-ac2{ color:#ffab40 !important; }
.cl-orange-ac3{ color:#ff9100 !important; }
.cl-orange-ac4{ color:#ff6d00 !important; }
.cl-orange-dk1{ color:#fb8c00 !important; }
.cl-orange-dk2{ color:#f57c00 !important; }
.cl-orange-dk3{ color:#ef6c00 !important; }
.cl-orange-dk4{ color:#e65100 !important; }
.cl-orange-lt1{ color:#ffa726 !important; }
.cl-orange-lt2{ color:#ffb74d !important; }
.cl-orange-lt3{ color:#ffcc80 !important; }
.cl-orange-lt4{ color:#ffe0b2 !important; }
.cl-orange-lt5{ color:#fff3e0 !important; }
.cl-orange{ color:#ff9800 !important; }
.cl-pink-ac1{ color:#ff80ab !important; }
.cl-pink-ac2{ color:#ff4081 !important; }
.cl-pink-ac3{ color:#f50057 !important; }
.cl-pink-ac4{ color:#c51162 !important; }
.cl-pink-dk1{ color:#d81b60 !important; }
.cl-pink-dk2{ color:#c2185b !important; }
.cl-pink-dk3{ color:#ad1457 !important; }
.cl-pink-dk4{ color:#880e4f !important; }
.cl-pink-lt1{ color:#ec407a !important; }
.cl-pink-lt2{ color:#f06292 !important; }
.cl-pink-lt3{ color:#f48fb1 !important; }
.cl-pink-lt4{ color:#f8bbd0 !important; }
.cl-pink-lt5{ color:#fce4ec !important; }
.cl-pink{ color:#e91e63 !important; }
.cl-purple-ac1{ color:#ea80fc !important; }
.cl-purple-ac2{ color:#e040fb !important; }
.cl-purple-ac3{ color:#d500f9 !important; }
.cl-purple-ac4{ color:#aa00ff !important; }
.cl-purple-dk1{ color:#8e24aa !important; }
.cl-purple-dk2{ color:#7b1fa2 !important; }
.cl-purple-dk3{ color:#6a1b9a !important; }
.cl-purple-dk4{ color:#4a148c !important; }
.cl-purple-lt1{ color:#ab47bc !important; }
.cl-purple-lt2{ color:#ba68c8 !important; }
.cl-purple-lt3{ color:#ce93d8 !important; }
.cl-purple-lt4{ color:#e1bee7 !important; }
.cl-purple-lt5{ color:#f3e5f5 !important; }
.cl-purple{ color:#9c27b0 !important; }
.cl-red-ac1{ color:#ff8a80 !important; }
.cl-red-ac2{ color:#ff5252 !important; }
.cl-red-ac3{ color:#ff1744 !important; }
.cl-red-ac4{ color:#d50000 !important; }
.cl-red-dk1{ color:#e53935 !important; }
.cl-red-dk2{ color:#d32f2f !important; }
.cl-red-dk3{ color:#c62828 !important; }
.cl-red-dk4{ color:#b71c1c !important; }
.cl-red-lt1{ color:#ef5350 !important; }
.cl-red-lt2{ color:#e57373 !important; }
.cl-red-lt3{ color:#ef9a9a !important; }
.cl-red-lt4{ color:#ffcdd2 !important; }
.cl-red-lt5{ color:#ffebee !important; }
.cl-red{ color:#f44336 !important; }
.cl-teal-ac1{ color:#a7ffeb !important; }
.cl-teal-ac2{ color:#64ffda !important; }
.cl-teal-ac3{ color:#1de9b6 !important; }
.cl-teal-ac4{ color:#00bfa5 !important; }
.cl-teal-dk1{ color:#00897b !important; }
.cl-teal-dk2{ color:#00796b !important; }
.cl-teal-dk3{ color:#00695c !important; }
.cl-teal-dk4{ color:#004d40 !important; }
.cl-teal-lt1{ color:#26a69a !important; }
.cl-teal-lt2{ color:#4db6ac !important; }
.cl-teal-lt3{ color:#80cbc4 !important; }
.cl-teal-lt4{ color:#b2dfdb !important; }
.cl-teal-lt5{ color:#e0f2f1 !important; }
.cl-teal{ color:#009688 !important; }
.cl-white{ color:#ffffff !important; }
.cl-yellow-ac1{ color:#ffff8d !important; }
.cl-yellow-ac2{ color:#ffff00 !important; }
.cl-yellow-ac3{ color:#ffea00 !important; }
.cl-yellow-ac4{ color:#ffd600 !important; }
.cl-yellow-dk1{ color:#fdd835 !important; }
.cl-yellow-dk2{ color:#fbc02d !important; }
.cl-yellow-dk3{ color:#f9a825 !important; }
.cl-yellow-dk4{ color:#f57f17 !important; }
.cl-yellow-lt1{ color:#ffee58 !important; }
.cl-yellow-lt2{ color:#fff176 !important; }
.cl-yellow-lt3{ color:#fff59d !important; }
.cl-yellow-lt4{ color:#fff9c4 !important; }
.cl-yellow-lt5{ color:#fffde7 !important; }
.cl-yellow{ color:#ffeb3b !important; }

.cl-blue-grey { color: var(--color-bluegrey) !important; }
.cl-blue-grey-dk1{ color: var(--color-bluegrey-dk1) !important; }
.cl-blue-grey-dk2{ color: var(--color-bluegrey-dk2) !important; }
.cl-blue-grey-dk3{ color: var(--color-bluegrey-dk3) !important; }
.cl-blue-grey-dk4{ color: var(--color-bluegrey-dk4) !important; }
.cl-blue-grey-lt1{ color: var(--color-bluegrey-lt1) !important; }
.cl-blue-grey-lt2{ color: var(--color-bluegrey-lt2) !important; }
.cl-blue-grey-lt3{ color: var(--color-bluegrey-lt3) !important; }
.cl-blue-grey-lt4{ color: var(--color-bluegrey-lt4) !important; }
.cl-blue-grey-lt5{ color: var(--color-bluegrey-lt5) !important; }

.bg-blue-grey { background-color: var(--color-bluegrey) !important; }
.bg-blue-grey-dk1{ background-color: var(--color-bluegrey-dk1) !important; }
.bg-blue-grey-dk2{ background-color: var(--color-bluegrey-dk2) !important; }
.bg-blue-grey-dk3{ background-color: var(--color-bluegrey-dk3) !important; }
.bg-blue-grey-dk4{ background-color: var(--color-bluegrey-dk4) !important; }
.bg-blue-grey-lt1{ background-color: var(--color-bluegrey-lt1) !important; }
.bg-blue-grey-lt2{ background-color: var(--color-bluegrey-lt2) !important; }
.bg-blue-grey-lt3{ background-color: var(--color-bluegrey-lt3) !important; }
.bg-blue-grey-lt4{ background-color: var(--color-bluegrey-lt4) !important; }
.bg-blue-grey-lt5{ background-color: var(--color-bluegrey-lt5) !important; }

.bg-ui-danger{ background-color:#bf5329; }
.bg-ui-error{ background-color:#8eb4cb; }
.bg-ui-good{ background-color:#3097d1; }
.bg-ui-info{ background-color:#8eb4cb; }
.bg-ui-notice{ background-color:#3097d1; }
.bg-ui-primary{ background-color:#3097d1; }
.bg-ui-success{ background-color:#2ab27b; }
.bg-ui-warning{ background-color:#cbb956; }

.cl-ui-danger{ color:#bf5329; }
.cl-ui-error{ color:#8eb4cb; }
.cl-ui-good{ color:#3097d1; }
.cl-ui-info{ color:#8eb4cb; }
.cl-ui-notice{ color:#3097d1; }
.cl-ui-primary{ color:#3097d1; }
.cl-ui-success{ color:#2ab27b; }
.cl-ui-warning{ color:#cbb956; }
