.icon-helper-text{
  position:absolute;
  top:-999em;
  left:-999em;
  text-indent:-999em;
  overflow:hidden;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}
.icon{
  display:inline-block;
  margin:10px;
  width:100%;
  height:100%;
  background-position:50% 50%;
  background-size:80%;
  vertical-align:middle;
  transition:color 200ms linear 0ms;
  font-size:0;
  cursor:pointer;
  background-repeat:no-repeat;
  shape-rendering:crispEdges;
}
.icon_size-1{
  width:1em;
  height:1em;
}
.icon_size-2{
  width:2em;
  height:2em;
}
.icon_size-3{
  width:3em;
  height:3em;
}
.icon_size-4{
  width:4em;
  height:4em;
}
.icon_size-5{
  width:5em;
  height:5em;
}
.icon_size-6{
  width:6em;
  height:6em;
}
.icon_size-7{
  width:7em;
  height:7em;
}
.icon_size-8{
  width:8em;
  height:8em;
}
.icon_size-9{
  width:9em;
  height:9em;
}
.icon_size-10{
  width:10em;
  height:10em;
}
.icon_fs-1{ font-size:1em; }
.icon_fs-2{ font-size:2em; }
.icon_fs-3{ font-size:3em; }
.icon_fs-4{ font-size:4em; }
.icon_fs-5{ font-size:5em; }
.icon_fs-6{ font-size:6em; }
.icon_fs-7{ font-size:7em; }
.icon_fs-8{ font-size:8em; }
.icon_fs-9{ font-size:9em; }
.icon_fs-10{ font-size:10em; }
.icon__title{
  position:absolute;
  top:-999em;
  left:-999em;
  text-indent:-999em;
  overflow:hidden;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}
.icon{
  cursor:pointer;
  fill:currentColor;
  position:relative;
  vertical-align:middle;
  shape-rendering:crispEdges;
  background-repeat:no-repeat;
  transition:color 200ms linear 0ms;
}
.svgicon{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  padding:0;
  width:1em;
  height:1em;
  transition:color 200ms linear 0ms;
  shape-rendering:crispEdges;
  cursor:pointer;
  position:relative;
}
.svgicon__svg{
  width:1em;
  flex:1;
  display:block;
  position:relative;
  font-size:1em;
}
.svgicon.icon--circle{ border-radius:50%; }
.svgicon.icon_size-1{
  width:1em;
  height:1em;
}
.svgicon.icon_size-2{
  width:2em;
  height:2em;
}
.svgicon.icon_size-3{
  width:3em;
  height:3em;
}
.svgicon.icon_size-4{
  width:4em;
  height:4em;
}
.svgicon.icon_size-5{
  width:5em;
  height:5em;
}
.svgicon.icon_size-6{
  width:6em;
  height:6em;
}
.svgicon.icon_size-7{
  width:7em;
  height:7em;
}
.svgicon.icon_size-8{
  width:8em;
  height:8em;
}
.svgicon.icon_size-9{
  width:9em;
  height:9em;
}
.svgicon.icon_size-10{
  width:10em;
  height:10em;
}
.svgicon.icon_fs-1{ font-size:1em; }
.svgicon.icon_fs-2{ font-size:2em; }
.svgicon.icon_fs-3{ font-size:3em; }
.svgicon.icon_fs-4{ font-size:4em; }
.svgicon.icon_fs-5{ font-size:5em; }
.svgicon.icon_fs-6{ font-size:6em; }
.svgicon.icon_fs-7{ font-size:7em; }
.svgicon.icon_fs-8{ font-size:8em; }
.svgicon.icon_fs-9{ font-size:9em; }
.svgicon.icon_fs-10{ font-size:10em; }
size
.svgicon.icon_pad-0 .svgicon__svg{ padding:0%; }
.svgicon.icon_pad-1 .svgicon__svg{ padding:5%; }
.svgicon.icon_pad-2 .svgicon__svg{ padding:10%; }
.svgicon.icon_pad-3 .svgicon__svg{ padding:15%; }
.svgicon.icon_pad-4 .svgicon__svg{ padding:20%; }
.svgicon.icon_pad-5 .svgicon__svg{ padding:25%; }
.flexicon{
  display:flex;
  flex:1;
  justify-content:center;
  align-items:center;
  width:auto;
  height:0;
  padding:50%;
  position:relative;
  max-width:100%;
  max-height:100%;
  shape-rendering:crispEdges;
  transition:color 200ms linear 0ms;
  cursor:pointer;
}
.flexicon__svg{
  width:100%;
  height:100%;
  flex:1;
  display:block;
  position:absolute;
}
.flexicon__svg.icon_scale-90{
  width:90%;
  height:90%;
}
.flexicon__svg.icon_scale-80{
  width:80%;
  height:80%;
}
.flexicon__svg.icon_scale-70{
  width:70%;
  height:70%;
}
.flexicon__svg.icon_scale-60{
  width:60%;
  height:60%;
}
.flexicon.icon--circle{ border-radius:50%; }
