.ratio {
  position: relative;
  height: 0;
}
.ratio--5x1 {
  padding-bottom: 20%;
}
.ratio--4x1 {
  padding-bottom: 25%;
}
.ratio--3x1 {
  padding-bottom: 33.3333%;
}
.ratio--2x1 {
  padding-bottom: 50%;
}
.ratio--16x9 {
  padding-bottom: 56.25%;
}
.ratio--8x5 {
  padding-bottom: 62.5%;
}
.ratio--6x4 {
  padding-bottom: 66.6%;
}
.ratio--7x5 {
  padding-bottom: 71.42%;
}
.ratio--4x3 {
  padding-bottom: 75%;
}
.ratio--1x1 {
  padding-bottom: 100%;
}
.ratio--3x4 {
  padding-bottom: 133.33%;
}
.ratio--5x7 {
  padding-bottom: 140%;
}
.ratio--4x6 {
  padding-bottom: 150%;
}
.ratio--5x8 {
  padding-bottom: 160%;
}
.ratio--9x16 {
  padding-bottom: 177.77%;
}
.ratio--rect {
  padding: 0;
  padding-bottom: 66.6666%;
  width: 100%;
  height: 0;
}
.ratio--flex-fit {
  display: flex;
  overflow: hidden;
  align-items: baseline;
}
.ratio--flex-content {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.ratio--content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}
html,
body {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}
header,
footer,
section {
  display: block;
  position: relative;
  margin: initial;
  max-width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.vpad {
  padding-top: 1em;
  padding-bottom: 1em;
}
.vpad2 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.hpad {
  padding-left: 1em;
  padding-right: 1em;
}
.hpad2 {
  padding-left: 2em;
  padding-right: 2em;
}
.content-block {
  display: block;
  padding: 1em;
}
.content-block:first-of-type {
  padding-top: 0;
}
.site__content {
  display: flex;
}
.site__content .sidebar {
  flex: 0 1 auto;
}
.site__content .content {
  flex: 1 1 auto;
}
.site__content .sidebar {
  order: 0;
}
.site__content .content {
  order: 1;
}
.site__content.sidebar_right .sidebar {
  order: 1;
}
.site__content.sidebar_right .content {
  order: 0;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inblock {
  display: inline-block;
}
.invisible {
  visibility: hidden !important;
}

.min-w-none {
  min-width: none !important;
}
.min-w-100 {
  min-width: 100px;
}
.min-w-150 {
  min-width: 150px;
}
.min-w-200 {
  min-width: 200px;
}
.min-w-250 {
  min-width: 250px;
}
.min-w-300 {
  min-width: 300px;
}
.min-w-350 {
  min-width: 350px;
}
.min-w-400 {
  min-width: 400px;
}
.min-w-500 {
  min-width: 500px;
}
.min-w-600 {
  min-width: 600px;
}
.min-w-700 {
  min-width: 700px;
}
.min-w-800 {
  min-width: 800px;
}
.min-w-900 {
  min-width: 900px;
}
.min-w-1000 {
  min-width: 1000px;
}
.max-w-none {
  max-width: none !important;
}
.max-w-100 {
  max-width: 100px;
}
.max-w-150 {
  max-width: 150px;
}
.max-w-200 {
  max-width: 200px;
}
.max-w-250 {
  max-width: 250px;
}
.max-w-300 {
  max-width: 300px;
}
.max-w-350 {
  max-width: 350px;
}
.max-w-400 {
  max-width: 400px;
}
.max-w-500 {
  max-width: 500px;
}
.max-w-600 {
  max-width: 600px;
}
.max-w-700 {
  max-width: 700px;
}
.max-w-800 {
  max-width: 800px;
}
.max-w-900 {
  max-width: 900px;
}
.max-w-1000 {
  max-width: 1000px;
}
.max-w-1100 {
  max-width: 1100px;
}
.max-w-1200 {
  max-width: 1200px;
}
.max-w-1300 {
  max-width: 1300px;
}
.max-w-1400 {
  max-width: 1400px;
}
.max-w-1500 {
  max-width: 1500px;
}
.w-none {
  width: 0 !important;
}
.w-full {
  width: 100% !important;
}
.w-auto {
  width: auto !important;
}
.w-0 {
  width: 0 !important;
}
.w-10p {
  width: 10% !important;
}
.w-20p {
  width: 20% !important;
}
.w-30p {
  width: 30% !important;
}
.w-40p {
  width: 40% !important;
}
.w-50p {
  width: 50% !important;
}
.w-60p {
  width: 60% !important;
}
.w-70p {
  width: 70% !important;
}
.w-80p {
  width: 80% !important;
}
.w-90p {
  width: 90% !important;
}
.w-10 {
  width: 10px !important;
}
.w-20 {
  width: 20px !important;
}
.w-30 {
  width: 30px !important;
}
.w-40 {
  width: 40px !important;
}
.w-50 {
  width: 50px !important;
}
.w-60 {
  width: 60px !important;
}
.w-70 {
  width: 70px !important;
}
.w-80 {
  width: 80px !important;
}
.w-90 {
  width: 90px !important;
}
.w-100 {
  width: 100px !important;
}
.w-150 {
  width: 150px !important;
}
.w-200 {
  width: 200px !important;
}
.w-250 {
  width: 250px !important;
}
.w-300 {
  width: 300px !important;
}
.w-350 {
  width: 350px !important;
}
.w-400 {
  width: 400px !important;
}
.w-500 {
  width: 500px !important;
}
.w-600 {
  width: 600px !important;
}
.w-700 {
  width: 700px !important;
}
.w-800 {
  width: 800px !important;
}
.w-900 {
  width: 900px !important;
}

.section .section_container {
  max-width: var(--page-width);
}
.section .section_container {
  width: 100%;
}

// @media screen and (max-width: 850px){
//   .section .section_container{
//     padding:1em 0;
//   }
// }

// @media screen and (max-width: 600px ){
//   .section .section_container {
//     padding: 1em 1.5em;
//   }
// }
//
// @media screen and (max-width: 420px){
//   .section .section_container{
//     padding:1em 1em;
//   }
// }

.section:first-child .section_container {
  padding-top: 0;
}
.section_w-1000 .section_container {
  max-width: 1000px;
}
.section_w-1200 .section_container {
  max-width: 1200px;
}
.section_w-1100 .section_container {
  max-width: 1100px;
}
.section_w-1300 .section_container {
  max-width: 1300px;
}
.section_w-1400 .section_container {
  max-width: 1400px;
}
.section_w-full .section_container {
  max-width: none;
  width: 100%;
}
.section_full {
  max-width: none !important;
}
.section_full .section_container > .row {
  padding: 0;
  margin: 0;
  max-width: none;
}
.section_split {
  padding-top: 0;
}
.section_split .section_container {
  display: block;
}
@media screen and (max-width: auto) {
  .section_split .section_container {
    width: auto;
    margin: 0;
    padding: 0;
  }
}
.section_split .section_container {
  width: auto;
  margin: 1em 2em;
}
@media screen and (min-width: auto) {
  .section_split .section_container {
    display: flex;
  }
  .section_split .section__image-wrap {
    flex: 1 1 100%;
    align-self: stretch;
    margin: 0 1em 0 0;
  }
  .section_split .section__content-wrap {
    align-self: center;
    flex: 1 1 100%;
    margin: 1em 0 0 2em;
  }
}
.content_image .img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content_image .img-contain {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.section__image-wrap {
  display: block;
  position: relative;
  min-width: 200px;
  padding-bottom: 50%;
  height: auto;
}
.section__image-wrap .section__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.section_full > .row {
  padding: 0;
  margin: 0;
  max-width: none;
}
.section__content-wrap {
  display: block;
  margin: 1.5em 0 0 0;
}

.banner__image {
  padding: 2em 0 1em;
}

@media screen and (max-width: 850px) {
  .banner__image {
    padding: 0;
  }
  .banner__image .lp-section-image-wrap {
    margin: 0;
  }
}

.banner__image .page-wrap {
  padding: 0;
}
.banner__image .section__content-wrap {
  display: none;
}

.centered_content {
  margin: auto;
  text-align: center;
}

.col {
  width: 100%;
  display: block;
}

.row {
  margin-left: 3rem;
  margin-right: 3rem;
  display: block;
  max-width: 100%;
}

@media (max-width: 600px) {
  .row {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 450px) {
  .row {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.flex-row {
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  max-width: 100%;

  > .col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-left: 1em;
    margin-right: 1em;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 600px) {
  .flex-row {
    margin-left: 2rem;
    margin-right: 2rem;
    > .col {
      margin-right: auto;
      margin-left: auto;
      &:first-child {
        margin-right: auto;
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 450px) {
  .flex-row {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.flex-row-3 > .col {
  flex-basis: 33%;
  max-width: 33%;
}
