
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.loader_spinner
  border-top: 10px solid currentColor;
  border-right: 10px solid transparent;
  border-bottom: 10px solid currentColor;
  border-left: 10px solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

  &-sm {
    height: 50%;
    color: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__container {
    border-top: 10px solid currentColor;
    border-right: 10px solid transparent;
    border-bottom: 10px solid currentColor;
    border-left: 10px solid transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  &__container-sm {
    border-top: 8px solid currentColor;
    border-right: 8px solid transparent;
    border-bottom: 8px solid currentColor;
    border-left: 8px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}

.loader_status {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
