@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


::-webkit-resizer{
  background:rgba(27, 64, 80, 0.5);
}

::-webkit-scrollbar{
  background:rgba(27, 64, 80, 0.5);
  max-width:10px;
  max-height:10px;
}

::-webkit-scrollbar-button{
  background:none;
  border-radius:6px;
  width:4px;
  height:4px;
}

::-webkit-scrollbar-corner{
  background:rgba(27, 64, 80, 0.5);
}

::-webkit-scrollbar-thumb{
  background:#389fcc;
  border-radius:8px;
}

::-moz-selection{
  color:#afd4e4;
  background:#1d2e35;
}

::selection{
  color:#afd4e4;
  background:#1d2e35;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Muli', sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

.surveyAlert {
  width: 98vw !important;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.surveyAlert .swal2-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.surveyAlert .swal2-content #swal2-content {
  position: relative;
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.surveyAlert .swal2-content #swal2-content iframe {
  border: none;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.page.home_page {
  font-size: 1.1em;
}

.list {
  display: block;
  list-style: disc;
  padding-left: 1em;
}

.list li {
  display: list-item;
  list-style: disc;
  margin: 0.9em 0em 0.9em 0.7em;
}

.nav-item:hover {
  text-decoration: none;
}

.cursor {
  cursor: pointer;
}

h1, h2 , h3, h4, h5, h6 {
  line-height:unset;
  margin:unset;
  font-size:unset;
}

p { line-height:1.5; }

.list-unstyled{ list-style:none; }

a {
  color:inherit;
  text-decoration:inherit;
  transition:all 0.4s ease-in-out;

  &:focus {
    text-decoration:none;
  }

  &:hover {
    text-decoration:underline;
    position:relative;

    &::before {
      content:"";
      display:block;
      width:100%;
      height:100%;
      position:absolute;
      left:0;
      top:0;
      background:rgba(0, 0, 0, 0.1);
    }
  }
}

.breadcrumb {
  font-size: .8em;
  padding: .5em 0;
  margin: 0;
  color: inherit;
  background-color: inherit;
}
