.login-button {
  padding: 10px 10px;
  margin-right: 4px;
  margin-top: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: none;
  border: 2px solid black;
  trasition: color 0.5s;
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}


a.hub-button:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
