.bg-absolute_zero{ background-color:#0048ba !important; }
.bg-alien_armpit{ background-color:#84de02 !important; }
.bg-alloy_orange{ background-color:#c46210 !important; }
.bg-almond{ background-color:#eed9c4 !important; }
.bg-amber-ac1{ background-color:#ffe57f !important; }
.bg-amber-ac2{ background-color:#ffd740 !important; }
.bg-amber-ac3{ background-color:#ffc400 !important; }
.bg-amber-ac4{ background-color:#ffab00 !important; }
.bg-amber-dk1{ background-color:#ffb300 !important; }
.bg-amber-dk2{ background-color:#ffa000 !important; }
.bg-amber-dk3{ background-color:#ff8f00 !important; }
.bg-amber-dk4{ background-color:#ff6f00 !important; }
.bg-amber-lt1{ background-color:#ffca28 !important; }
.bg-amber-lt2{ background-color:#ffd54f !important; }
.bg-amber-lt3{ background-color:#ffe082 !important; }
.bg-amber-lt4{ background-color:#ffecb3 !important; }
.bg-amber-lt5{ background-color:#fff8e1 !important; }
.bg-amber{ background-color:#ffc107 !important; }
.bg-amethyst{ background-color:#64609a !important; }
.bg-antique_brass{ background-color:#c88a65 !important; }
.bg-apricot{ background-color:#fdd5b1 !important; }
.bg-aquamarine{ background-color:#95e0e8 !important; }
.bg-asparagus{ background-color:#7ba05b !important; }
.bg-atomic_tangerine{ background-color:#ff9966 !important; }
.bg-aztec_gold{ background-color:#c39953 !important; }
.bg-baby_powder{ background-color:#fefefa !important; }
.bg-banana_mania{ background-color:#fbe7b2 !important; }
.bg-banana{ background-color:#ffd12a !important; }
.bg-baseball_mitt_burnt_sienna{ background-color:#e97451 !important; }
.bg-bdazzled_blue{ background-color:#2e5894 !important; }
.bg-beaver{ background-color:#926f5b !important; }
.bg-big_dip_o_ruby{ background-color:#9c2542 !important; }
.bg-big_foot_feet{ background-color:#e88e5a !important; }
.bg-bittersweet_shimmer{ background-color:#bf4f51 !important; }
.bg-bittersweet{ background-color:#fe6f5e !important; }
.bg-black_shadows{ background-color:#bfafb2 !important; }
.bg-black{ background-color:#000000 !important; }
.bg-black{ background-color:#000000 !important; }
.bg-blast_off_bronze{ background-color:#a57164 !important; }
.bg-blizzard_blue{ background-color:#50bfe6 !important; }
.bg-blue_bell{ background-color:#9999cc !important; }
.bg-blue_i{ background-color:#4997d0 !important; }
.bg-blue_ii{ background-color:#4570e6 !important; }
.bg-blue_iii{ background-color:#0066ff !important; }
.bg-blue_jeans{ background-color:#5dadec !important; }
.bg-blue-ac1{ background-color:#82b1ff !important; }
.bg-blue-ac2{ background-color:#448aff !important; }
.bg-blue-ac3{ background-color:#2979ff !important; }
.bg-blue-ac4{ background-color:#2962ff !important; }
.bg-blue-dk1{ background-color:#1e88e5 !important; }
.bg-blue-dk2{ background-color:#1976d2 !important; }
.bg-blue-dk3{ background-color:#1565c0 !important; }
.bg-blue-dk4{ background-color:#0d47a1 !important; }
.bg-blue-gray{ background-color:#c8c8cd !important; }
.bg-blue-green{ background-color:#0095b7 !important; }
.bg-blue-grey-dk1{ background-color:#546e7a !important; }
.bg-blue-grey-dk2{ background-color:#455a64 !important; }
.bg-blue-grey-dk3{ background-color:#37474f !important; }
.bg-blue-grey-dk4{ background-color:#263238 !important; }
.bg-blue-grey-lt1{ background-color:#78909c !important; }
.bg-blue-grey-lt2{ background-color:#90a4ae !important; }
.bg-blue-grey-lt3{ background-color:#b0bec5 !important; }
.bg-blue-grey-lt4{ background-color:#cfd8dc !important; }
.bg-blue-grey-lt5{ background-color:#eceff1 !important; }
.bg-blue-grey{ background-color:#607d8b !important; }
.bg-blue-lt1{ background-color:#42a5f5 !important; }
.bg-blue-lt2{ background-color:#64b5f6 !important; }
.bg-blue-lt3{ background-color:#90caf9 !important; }
.bg-blue-lt4{ background-color:#bbdefb !important; }
.bg-blue-lt5{ background-color:#e3f2fd !important; }
.bg-blue-violet{ background-color:#6456b7 !important; }
.bg-blue{ background-color:#2196f3 !important; }
.bg-blueberry{ background-color:#4f86f7 !important; }
.bg-blush{ background-color:#db5079 !important; }
.bg-booger_buster{ background-color:#dde26a !important; }
.bg-brick_red{ background-color:#c62d42 !important; }
.bg-bright_yellow{ background-color:#ffaa1d !important; }
.bg-brilliant_rose{ background-color:#e667ce !important; }
.bg-brown_sugar{ background-color:#af6e4d !important; }
.bg-brown-dk1{ background-color:#6d4c41 !important; }
.bg-brown-dk2{ background-color:#5d4037 !important; }
.bg-brown-dk3{ background-color:#4e342e !important; }
.bg-brown-dk4{ background-color:#3e2723 !important; }
.bg-brown-lt1{ background-color:#8d6e63 !important; }
.bg-brown-lt2{ background-color:#a1887f !important; }
.bg-brown-lt3{ background-color:#bcaaa4 !important; }
.bg-brown-lt4{ background-color:#d7ccc8 !important; }
.bg-brown-lt5{ background-color:#efebe9 !important; }
.bg-brown{ background-color:#795548 !important; }
.bg-brown{ background-color:#af593e !important; }
.bg-bubble_bath_tickle_me_pink{ background-color:#fc80a5 !important; }
.bg-bubble_gum{ background-color:#ffd3f8 !important; }
.bg-burnished_brown{ background-color:#a17a74 !important; }
.bg-burnt_orange{ background-color:#ff7f49 !important; }
.bg-burnt_sienna{ background-color:#e97451 !important; }
.bg-burnt_umber{ background-color:#805533 !important; }
.bg-cadet_blue{ background-color:#a9b2c3 !important; }
.bg-canary{ background-color:#ffff99 !important; }
.bg-caribbean_green{ background-color:#00cc99 !important; }
.bg-carmine{ background-color:#e62e6b !important; }
.bg-carnation_pink{ background-color:#ffa6c9 !important; }
.bg-cedar_chest{ background-color:#c95a49 !important; }
.bg-celestial_blue{ background-color:#7070cc !important; }
.bg-cerise{ background-color:#da3287 !important; }
.bg-cerulean_blue{ background-color:#339acc !important; }
.bg-cerulean_frost{ background-color:#6d9bc3 !important; }
.bg-cerulean{ background-color:#02a4d3 !important; }
.bg-charcoal_gray{ background-color:#736a62 !important; }
.bg-cherry{ background-color:#da2647 !important; }
.bg-chocolate{ background-color:#bd8260 !important; }
.bg-cinnamon_satin{ background-color:#cd607e !important; }
.bg-citrine{ background-color:#933709 !important; }
.bg-cobalt_blue{ background-color:#8c90c8 !important; }
.bg-coconut{ background-color:#fefefe !important; }
.bg-copper_penny{ background-color:#ad6f69 !important; }
.bg-copper{ background-color:#da8a67 !important; }
.bg-cornflower{ background-color:#93ccea !important; }
.bg-cosmic_cobalt{ background-color:#2e2d88 !important; }
.bg-cotton_candy{ background-color:#ffb7d5 !important; }
.bg-cyan-ac1{ background-color:#84ffff !important; }
.bg-cyan-ac2{ background-color:#18ffff !important; }
.bg-cyan-ac3{ background-color:#00e5ff !important; }
.bg-cyan-ac4{ background-color:#00b8d4 !important; }
.bg-cyan-dk1{ background-color:#00acc1 !important; }
.bg-cyan-dk2{ background-color:#0097a7 !important; }
.bg-cyan-dk3{ background-color:#00838f !important; }
.bg-cyan-dk4{ background-color:#006064 !important; }
.bg-cyan-lt1{ background-color:#26c6da !important; }
.bg-cyan-lt2{ background-color:#4dd0e1 !important; }
.bg-cyan-lt3{ background-color:#80deea !important; }
.bg-cyan-lt4{ background-color:#b2ebf2 !important; }
.bg-cyan-lt5{ background-color:#e0f7fa !important; }
.bg-cyan{ background-color:#00bcd4 !important; }
.bg-cyber_grape{ background-color:#58427c !important; }
.bg-daffodil{ background-color:#ffff31 !important; }
.bg-dandelion{ background-color:#fed85d !important; }
.bg-dark_venetian_red{ background-color:#b33b24 !important; }
.bg-deep_space_sparkle{ background-color:#4a646c !important; }
.bg-deep-orange-ac1{ background-color:#ff9e80 !important; }
.bg-deep-orange-ac2{ background-color:#ff6e40 !important; }
.bg-deep-orange-ac3{ background-color:#ff3d00 !important; }
.bg-deep-orange-ac4{ background-color:#dd2c00 !important; }
.bg-deep-orange-dk1{ background-color:#f4511e !important; }
.bg-deep-orange-dk2{ background-color:#e64a19 !important; }
.bg-deep-orange-dk3{ background-color:#d84315 !important; }
.bg-deep-orange-dk4{ background-color:#bf360c !important; }
.bg-deep-orange-lt1{ background-color:#ff7043 !important; }
.bg-deep-orange-lt2{ background-color:#ff8a65 !important; }
.bg-deep-orange-lt3{ background-color:#ffab91 !important; }
.bg-deep-orange-lt4{ background-color:#ffccbc !important; }
.bg-deep-orange-lt5{ background-color:#fbe9e7 !important; }
.bg-deep-orange{ background-color:#ff5722 !important; }
.bg-deep-purple-ac1{ background-color:#b388ff !important; }
.bg-deep-purple-ac2{ background-color:#7c4dff !important; }
.bg-deep-purple-ac3{ background-color:#651fff !important; }
.bg-deep-purple-ac4{ background-color:#6200ea !important; }
.bg-deep-purple-dk1{ background-color:#5e35b1 !important; }
.bg-deep-purple-dk2{ background-color:#512da8 !important; }
.bg-deep-purple-dk3{ background-color:#4527a0 !important; }
.bg-deep-purple-dk4{ background-color:#311b92 !important; }
.bg-deep-purple-lt1{ background-color:#7e57c2 !important; }
.bg-deep-purple-lt2{ background-color:#9575cd !important; }
.bg-deep-purple-lt3{ background-color:#b39ddb !important; }
.bg-deep-purple-lt4{ background-color:#d1c4e9 !important; }
.bg-deep-purple-lt5{ background-color:#ede7f6 !important; }
.bg-deep-purple{ background-color:#673ab7 !important; }
.bg-denim_blue{ background-color:#2243b6 !important; }
.bg-denim{ background-color:#1560bd !important; }
.bg-desert_sand{ background-color:#edc9af !important; }
.bg-dingy_dungeon{ background-color:#c53151 !important; }
.bg-dirt{ background-color:#9b7653 !important; }
.bg-earthworm_brick_red{ background-color:#c62d42 !important; }
.bg-eerie_black{ background-color:#1b1b1b !important; }
.bg-eggplant{ background-color:#614051 !important; }
.bg-electric_lime{ background-color:#ccff00 !important; }
.bg-emerald{ background-color:#14a989 !important; }
.bg-english_vermilion{ background-color:#cc474b !important; }
.bg-eucalyptus{ background-color:#44d7a8 !important; }
.bg-fern{ background-color:#63b76c !important; }
.bg-fiery_rose{ background-color:#ff5470 !important; }
.bg-flower_shop_wisteria{ background-color:#c9a0dc !important; }
.bg-forest_green{ background-color:#5fa777 !important; }
.bg-fresh_air_sky_blue{ background-color:#76d7ea !important; }
.bg-fresh_air{ background-color:#a6e7ff !important; }
.bg-frostbite{ background-color:#e936a7 !important; }
.bg-fuchsia{ background-color:#c154c1 !important; }
.bg-fuzzy_wuzzy{ background-color:#87421f !important; }
.bg-gargoyle_gas{ background-color:#ffdf46 !important; }
.bg-giants_club{ background-color:#b05c52 !important; }
.bg-glossy_grape{ background-color:#ab92b3 !important; }
.bg-gold_fusion{ background-color:#85754e !important; }
.bg-gold_i{ background-color:#92926e !important; }
.bg-gold_ii{ background-color:#e6be8a !important; }
.bg-goldenrod{ background-color:#fcd667 !important; }
.bg-grandmas_perfume_orange{ background-color:#ff8833 !important; }
.bg-granite_gray{ background-color:#676767 !important; }
.bg-granny_smith_apple{ background-color:#9de093 !important; }
.bg-grape{ background-color:#6f2da8 !important; }
.bg-gray{ background-color:#8b8680 !important; }
.bg-green_lizard{ background-color:#a7f432 !important; }
.bg-green_sheen{ background-color:#6eaea1 !important; }
.bg-green-ac1{ background-color:#b9f6ca !important; }
.bg-green-ac2{ background-color:#69f0ae !important; }
.bg-green-ac3{ background-color:#00e676 !important; }
.bg-green-ac4{ background-color:#00c853 !important; }
.bg-green-blue{ background-color:#2887c8 !important; }
.bg-green-dk1{ background-color:#43a047 !important; }
.bg-green-dk2{ background-color:#388e3c !important; }
.bg-green-dk3{ background-color:#2e7d32 !important; }
.bg-green-dk4{ background-color:#1b5e20 !important; }
.bg-green-lt1{ background-color:#66bb6a !important; }
.bg-green-lt2{ background-color:#81c784 !important; }
.bg-green-lt3{ background-color:#a5d6a7 !important; }
.bg-green-lt4{ background-color:#c8e6c9 !important; }
.bg-green-lt5{ background-color:#e8f5e9 !important; }
.bg-green-yellow{ background-color:#f1e788 !important; }
.bg-green{ background-color:#3aa655 !important; }
.bg-green{ background-color:#4caf50 !important; }
.bg-grey-dk1{ background-color:#757575 !important; }
.bg-grey-dk2{ background-color:#616161 !important; }
.bg-grey-dk3{ background-color:#424242 !important; }
.bg-grey-dk4{ background-color:#212121 !important; }
.bg-grey-lt1{ background-color:#bdbdbd !important; }
.bg-grey-lt2{ background-color:#e0e0e0 !important; }
.bg-grey-lt3{ background-color:#eeeeee !important; }
.bg-grey-lt4{ background-color:#f5f5f5 !important; }
.bg-grey-lt5{ background-color:#fafafa !important; }
.bg-grey{ background-color:#9e9e9e !important; }
.bg-heat_wave{ background-color:#ff7a00 !important; }
.bg-hot_magenta{ background-color:#ff00cc !important; }
.bg-illuminating_emerald{ background-color:#319177 !important; }
.bg-inchworm{ background-color:#afe313 !important; }
.bg-indian_red{ background-color:#b94e48 !important; }
.bg-indigo-ac1{ background-color:#8c9eff !important; }
.bg-indigo-ac2{ background-color:#536dfe !important; }
.bg-indigo-ac3{ background-color:#3d5afe !important; }
.bg-indigo-ac4{ background-color:#304ffe !important; }
.bg-indigo-dk1{ background-color:#3949ab !important; }
.bg-indigo-dk2{ background-color:#303f9f !important; }
.bg-indigo-dk3{ background-color:#283593 !important; }
.bg-indigo-dk4{ background-color:#1a237e !important; }
.bg-indigo-lt1{ background-color:#5c6bc0 !important; }
.bg-indigo-lt2{ background-color:#7986cb !important; }
.bg-indigo-lt3{ background-color:#9fa8da !important; }
.bg-indigo-lt4{ background-color:#c5cae9 !important; }
.bg-indigo-lt5{ background-color:#e8eaf6 !important; }
.bg-indigo{ background-color:#3f51b5 !important; }
.bg-indigo{ background-color:#4f69c6 !important; }
.bg-inherit{ background-color:inherit !important; }
.bg-jade{ background-color:#469a84 !important; }
.bg-jasper{ background-color:#d05340 !important; }
.bg-jazzberry_jam{ background-color:#a50b5e !important; }
.bg-jelly_bean{ background-color:#da614e !important; }
.bg-jungle_green{ background-color:#29ab87 !important; }
.bg-koala_tree_jungle_green{ background-color:#29ab87 !important; }
.bg-lapis_lazuli{ background-color:#436cb9 !important; }
.bg-laser_lemon{ background-color:#ffff66 !important; }
.bg-lavender_i{ background-color:#bf8fcc !important; }
.bg-lavender_ii{ background-color:#fbaed2 !important; }
.bg-leather_jacket{ background-color:#253529 !important; }
.bg-lemon_glacier{ background-color:#fdff00 !important; }
.bg-lemon_yellow{ background-color:#ffff9f !important; }
.bg-lemon{ background-color:#ffff38 !important; }
.bg-licorice{ background-color:#1a1110 !important; }
.bg-light_blue{ background-color:#8fd8d8 !important; }
.bg-light_chrome_green{ background-color:#bee64b !important; }
.bg-light_venetian_red{ background-color:#e6735c !important; }
.bg-lightblue-ac1{ background-color:#80d8ff !important; }
.bg-lightblue-ac2{ background-color:#40c4ff !important; }
.bg-lightblue-ac3{ background-color:#00b0ff !important; }
.bg-lightblue-ac4{ background-color:#0091ea !important; }
.bg-lightblue-dk1{ background-color:#039be5 !important; }
.bg-lightblue-dk2{ background-color:#0288d1 !important; }
.bg-lightblue-dk3{ background-color:#0277bd !important; }
.bg-lightblue-dk4{ background-color:#01579b !important; }
.bg-lightblue-lt1{ background-color:#29b6f6 !important; }
.bg-lightblue-lt2{ background-color:#4fc3f7 !important; }
.bg-lightblue-lt3{ background-color:#81d4fa !important; }
.bg-lightblue-lt4{ background-color:#b3e5fc !important; }
.bg-lightblue-lt5{ background-color:#e1f5fe !important; }
.bg-lightblue{ background-color:#03a9f4 !important; }
.bg-lightgreen-ac1{ background-color:#ccff90 !important; }
.bg-lightgreen-ac2{ background-color:#b2ff59 !important; }
.bg-lightgreen-ac3{ background-color:#76ff03 !important; }
.bg-lightgreen-ac4{ background-color:#64dd17 !important; }
.bg-lightgreen-dk1{ background-color:#7cb342 !important; }
.bg-lightgreen-dk2{ background-color:#689f38 !important; }
.bg-lightgreen-dk3{ background-color:#558b2f !important; }
.bg-lightgreen-dk4{ background-color:#33691e !important; }
.bg-lightgreen-lt1{ background-color:#9ccc65 !important; }
.bg-lightgreen-lt2{ background-color:#aed581 !important; }
.bg-lightgreen-lt3{ background-color:#c5e1a5 !important; }
.bg-lightgreen-lt4{ background-color:#dcedc8 !important; }
.bg-lightgreen-lt5{ background-color:#f1f8e9 !important; }
.bg-lightgreen{ background-color:#8bc34a !important; }
.bg-lilac_luster{ background-color:#ae98aa !important; }
.bg-lilac{ background-color:#db91ef !important; }
.bg-lime-ac1{ background-color:#f4ff81 !important; }
.bg-lime-ac2{ background-color:#eeff41 !important; }
.bg-lime-ac3{ background-color:#c6ff00 !important; }
.bg-lime-ac4{ background-color:#aeea00 !important; }
.bg-lime-dk1{ background-color:#c0ca33 !important; }
.bg-lime-dk2{ background-color:#afb42b !important; }
.bg-lime-dk3{ background-color:#9e9d24 !important; }
.bg-lime-dk4{ background-color:#827717 !important; }
.bg-lime-lt1{ background-color:#d4e157 !important; }
.bg-lime-lt2{ background-color:#dce775 !important; }
.bg-lime-lt3{ background-color:#e6ee9c !important; }
.bg-lime-lt4{ background-color:#f0f4c3 !important; }
.bg-lime-lt5{ background-color:#f9fbe7 !important; }
.bg-lime{ background-color:#b2f302 !important; }
.bg-lime{ background-color:#cddc39 !important; }
.bg-lumber{ background-color:#ffe4cd !important; }
.bg-macaroni_and_cheese{ background-color:#ffb97b !important; }
.bg-madder_lake{ background-color:#cc3336 !important; }
.bg-magenta{ background-color:#f653a6 !important; }
.bg-magic_mint{ background-color:#aaf0d1 !important; }
.bg-magic_potion{ background-color:#ff4466 !important; }
.bg-mahogany{ background-color:#ca3435 !important; }
.bg-maize{ background-color:#f2c649 !important; }
.bg-malachite{ background-color:#469496 !important; }
.bg-manatee{ background-color:#8d90a1 !important; }
.bg-mango_tango{ background-color:#e77200 !important; }
.bg-maroon{ background-color:#c32148 !important; }
.bg-mauvelous{ background-color:#f091a9 !important; }
.bg-maximum_blue_green{ background-color:#30bfbf !important; }
.bg-maximum_blue_purple{ background-color:#acace6 !important; }
.bg-maximum_blue{ background-color:#47abcc !important; }
.bg-maximum_green_yellow{ background-color:#d9e650 !important; }
.bg-maximum_green{ background-color:#5e8c31 !important; }
.bg-maximum_purple{ background-color:#733380 !important; }
.bg-maximum_red_purple{ background-color:#a63a79 !important; }
.bg-maximum_red{ background-color:#d92121 !important; }
.bg-maximum_yellow_red{ background-color:#f2ba49 !important; }
.bg-maximum_yellow{ background-color:#fafa37 !important; }
.bg-medium_chrome_green{ background-color:#6ca67c !important; }
.bg-medium_rose{ background-color:#d96cbe !important; }
.bg-medium_violet{ background-color:#8f47b3 !important; }
.bg-melon{ background-color:#febaad !important; }
.bg-metallic_seaweed{ background-color:#0a7e8c !important; }
.bg-metallic_sunburst{ background-color:#9c7c38 !important; }
.bg-middle_blue_green{ background-color:#8dd9cc !important; }
.bg-middle_blue_purple{ background-color:#8b72be !important; }
.bg-middle_blue{ background-color:#7ed4e6 !important; }
.bg-middle_green_yellow{ background-color:#acbf60 !important; }
.bg-middle_green{ background-color:#4d8c57 !important; }
.bg-middle_purple{ background-color:#d982b5 !important; }
.bg-middle_red_purple{ background-color:#a55353 !important; }
.bg-middle_red{ background-color:#e58e73 !important; }
.bg-middle_yellow_red{ background-color:#ecb176 !important; }
.bg-middle_yellow{ background-color:#ffeb00 !important; }
.bg-midnight_blue{ background-color:#00468c !important; }
.bg-misty_moss{ background-color:#bbb477 !important; }
.bg-moonstone{ background-color:#3aa8c1 !important; }
.bg-mountain_meadow{ background-color:#1ab385 !important; }
.bg-mulberry{ background-color:#c8509b !important; }
.bg-mummys_tomb{ background-color:#828e84 !important; }
.bg-mystic_maroon{ background-color:#ad4379 !important; }
.bg-navy_blue{ background-color:#0066cc !important; }
.bg-neon_carrot{ background-color:#ff9933 !important; }
.bg-new_car{ background-color:#214fc6 !important; }
.bg-none{ background-color:none !important; }
.bg-ogre_odor{ background-color:#fd5240 !important; }
.bg-olive_green{ background-color:#b5b35c !important; }
.bg-onyx{ background-color:#353839 !important; }
.bg-orange_soda{ background-color:#fa5b3d !important; }
.bg-orange-ac1{ background-color:#ffd180 !important; }
.bg-orange-ac2{ background-color:#ffab40 !important; }
.bg-orange-ac3{ background-color:#ff9100 !important; }
.bg-orange-ac4{ background-color:#ff6d00 !important; }
.bg-orange-dk1{ background-color:#fb8c00 !important; }
.bg-orange-dk2{ background-color:#f57c00 !important; }
.bg-orange-dk3{ background-color:#ef6c00 !important; }
.bg-orange-dk4{ background-color:#e65100 !important; }
.bg-orange-lt1{ background-color:#ffa726 !important; }
.bg-orange-lt2{ background-color:#ffb74d !important; }
.bg-orange-lt3{ background-color:#ffcc80 !important; }
.bg-orange-lt4{ background-color:#ffe0b2 !important; }
.bg-orange-lt5{ background-color:#fff3e0 !important; }
.bg-orange-red{ background-color:#ff5349 !important; }
.bg-orange-yellow{ background-color:#f8d568 !important; }
.bg-orange{ background-color:#ff8833 !important; }
.bg-orange{ background-color:#ff8866 !important; }
.bg-orange{ background-color:#ff9800 !important; }
.bg-orchid{ background-color:#e29cd2 !important; }
.bg-outer_space{ background-color:#2d383a !important; }
.bg-outrageous_orange{ background-color:#ff6037 !important; }
.bg-pacific_blue{ background-color:#009dc4 !important; }
.bg-peach{ background-color:#ffcba4 !important; }
.bg-peach{ background-color:#ffd0b9 !important; }
.bg-pearly_purple{ background-color:#b768a2 !important; }
.bg-peridot{ background-color:#abad48 !important; }
.bg-periwinkle{ background-color:#c3cde6 !important; }
.bg-permanent_geranium_lake{ background-color:#e12c2c !important; }
.bg-pet_shop_brown{ background-color:#af593e !important; }
.bg-pewter_blue{ background-color:#8ba8b7 !important; }
.bg-pig_pink{ background-color:#fdd7e4 !important; }
.bg-pine_green{ background-color:#01786f !important; }
.bg-pine_tree_pine_green{ background-color:#01786f !important; }
.bg-pine{ background-color:#45a27d !important; }
.bg-pink_flamingo{ background-color:#fc74fd !important; }
.bg-pink_pearl{ background-color:#b07080 !important; }
.bg-pink_sherbert{ background-color:#f7a38e !important; }
.bg-pink-ac1{ background-color:#ff80ab !important; }
.bg-pink-ac2{ background-color:#ff4081 !important; }
.bg-pink-ac3{ background-color:#f50057 !important; }
.bg-pink-ac4{ background-color:#c51162 !important; }
.bg-pink-dk1{ background-color:#d81b60 !important; }
.bg-pink-dk2{ background-color:#c2185b !important; }
.bg-pink-dk3{ background-color:#ad1457 !important; }
.bg-pink-dk4{ background-color:#880e4f !important; }
.bg-pink-lt1{ background-color:#ec407a !important; }
.bg-pink-lt2{ background-color:#f06292 !important; }
.bg-pink-lt3{ background-color:#f48fb1 !important; }
.bg-pink-lt4{ background-color:#f8bbd0 !important; }
.bg-pink-lt5{ background-color:#fce4ec !important; }
.bg-pink{ background-color:#e91e63 !important; }
.bg-pixie_powder{ background-color:#391285 !important; }
.bg-plum{ background-color:#8e3179 !important; }
.bg-plump_purple{ background-color:#5946b2 !important; }
.bg-polished_pine{ background-color:#5da493 !important; }
.bg-princess_perfume{ background-color:#ff85cf !important; }
.bg-purple_heart{ background-color:#652dc1 !important; }
.bg-purple_mountains_majesty{ background-color:#d6aedd !important; }
.bg-purple_pizzazz{ background-color:#ff00cc !important; }
.bg-purple_plum{ background-color:#9c51b6 !important; }
.bg-purple-ac1{ background-color:#ea80fc !important; }
.bg-purple-ac2{ background-color:#e040fb !important; }
.bg-purple-ac3{ background-color:#d500f9 !important; }
.bg-purple-ac4{ background-color:#aa00ff !important; }
.bg-purple-dk1{ background-color:#8e24aa !important; }
.bg-purple-dk2{ background-color:#7b1fa2 !important; }
.bg-purple-dk3{ background-color:#6a1b9a !important; }
.bg-purple-dk4{ background-color:#4a148c !important; }
.bg-purple-lt1{ background-color:#ab47bc !important; }
.bg-purple-lt2{ background-color:#ba68c8 !important; }
.bg-purple-lt3{ background-color:#ce93d8 !important; }
.bg-purple-lt4{ background-color:#e1bee7 !important; }
.bg-purple-lt5{ background-color:#f3e5f5 !important; }
.bg-purple{ background-color:#9c27b0 !important; }
.bg-quick_silver{ background-color:#a6a6a6 !important; }
.bg-radical_red{ background-color:#ff355e !important; }
.bg-raw_sienna_i{ background-color:#e6bc5c !important; }
.bg-raw_sienna{ background-color:#d27d46 !important; }
.bg-raw_umber{ background-color:#665233 !important; }
.bg-razzle_dazzle_rose{ background-color:#ee34d2 !important; }
.bg-razzmatazz{ background-color:#e30b5c !important; }
.bg-razzmic_berry{ background-color:#8d4e85 !important; }
.bg-red_salsa{ background-color:#fd3a4a !important; }
.bg-red-ac1{ background-color:#ff8a80 !important; }
.bg-red-ac2{ background-color:#ff5252 !important; }
.bg-red-ac3{ background-color:#ff1744 !important; }
.bg-red-ac4{ background-color:#d50000 !important; }
.bg-red-dk1{ background-color:#e53935 !important; }
.bg-red-dk2{ background-color:#d32f2f !important; }
.bg-red-dk3{ background-color:#c62828 !important; }
.bg-red-dk4{ background-color:#b71c1c !important; }
.bg-red-lt1{ background-color:#ef5350 !important; }
.bg-red-lt2{ background-color:#e57373 !important; }
.bg-red-lt3{ background-color:#ef9a9a !important; }
.bg-red-lt4{ background-color:#ffcdd2 !important; }
.bg-red-lt5{ background-color:#ffebee !important; }
.bg-red-orange{ background-color:#ff681f !important; }
.bg-red-violet{ background-color:#bb3385 !important; }
.bg-red{ background-color:#ed0a3f !important; }
.bg-red{ background-color:#f44336 !important; }
.bg-robins_egg_blue{ background-color:#00cccc !important; }
.bg-rose_dust{ background-color:#9e5e6f !important; }
.bg-rose_quartz{ background-color:#bd559c !important; }
.bg-rose{ background-color:#ff5050 !important; }
.bg-royal_purple{ background-color:#6b3fa0 !important; }
.bg-ruby{ background-color:#aa4069 !important; }
.bg-rusty_red{ background-color:#da2c43 !important; }
.bg-salmon{ background-color:#ff91a4 !important; }
.bg-sapphire{ background-color:#2d5da1 !important; }
.bg-sasquatch_socks{ background-color:#ff4681 !important; }
.bg-saw_dust_peach{ background-color:#ffcba4 !important; }
.bg-scarlet{ background-color:#fd0e35 !important; }
.bg-screamin_green{ background-color:#66ff66 !important; }
.bg-sea_green{ background-color:#93dfb8 !important; }
.bg-sea_serpent{ background-color:#4bc7cf !important; }
.bg-sepia{ background-color:#9e5b40 !important; }
.bg-shadow_blue{ background-color:#778ba5 !important; }
.bg-shadow{ background-color:#837050 !important; }
.bg-shampoo{ background-color:#ffcff1 !important; }
.bg-shamrock{ background-color:#33cc99 !important; }
.bg-sharpening_pencils_goldenrod{ background-color:#fcd667 !important; }
.bg-sheen_green{ background-color:#8fd400 !important; }
.bg-shimmering_blush{ background-color:#d98695 !important; }
.bg-shiny_shamrock{ background-color:#5fa778 !important; }
.bg-shocking_pink{ background-color:#ff6eff !important; }
.bg-silver{ background-color:#c9c0bb !important; }
.bg-sizzling_red{ background-color:#ff3855 !important; }
.bg-sizzling_sunrise{ background-color:#ffdb00 !important; }
.bg-sky_blue{ background-color:#76d7ea !important; }
.bg-slimy_green{ background-color:#299617 !important; }
.bg-smashed_pumpkin{ background-color:#ff6d3a !important; }
.bg-smell_the_roses_red{ background-color:#ed0a3f !important; }
.bg-smoke{ background-color:#738276 !important; }
.bg-smokey_topaz{ background-color:#832a0d !important; }
.bg-soap{ background-color:#cec8ef !important; }
.bg-sonic_silver{ background-color:#757575 !important; }
.bg-spring_frost{ background-color:#87ff2a !important; }
.bg-spring_green{ background-color:#ecebbd !important; }
.bg-steel_blue{ background-color:#0081ab !important; }
.bg-steel_teal{ background-color:#5f8a8b !important; }
.bg-strawberry{ background-color:#fc5a8d !important; }
.bg-sugar_plum{ background-color:#914e75 !important; }
.bg-sunburnt_cyclops{ background-color:#ff404c !important; }
.bg-sunglow{ background-color:#ffcc33 !important; }
.bg-sunny_day_yellow{ background-color:#fbe870 !important; }
.bg-sunset_orange{ background-color:#fe4c40 !important; }
.bg-sweet_brown{ background-color:#a83731 !important; }
.bg-tan{ background-color:#d99a6c !important; }
.bg-tart_orange{ background-color:#fb4d46 !important; }
.bg-teal_blue{ background-color:#008080 !important; }
.bg-teal-ac1{ background-color:#a7ffeb !important; }
.bg-teal-ac2{ background-color:#64ffda !important; }
.bg-teal-ac3{ background-color:#1de9b6 !important; }
.bg-teal-ac4{ background-color:#00bfa5 !important; }
.bg-teal-dk1{ background-color:#00897b !important; }
.bg-teal-dk2{ background-color:#00796b !important; }
.bg-teal-dk3{ background-color:#00695c !important; }
.bg-teal-dk4{ background-color:#004d40 !important; }
.bg-teal-lt1{ background-color:#26a69a !important; }
.bg-teal-lt2{ background-color:#4db6ac !important; }
.bg-teal-lt3{ background-color:#80cbc4 !important; }
.bg-teal-lt4{ background-color:#b2dfdb !important; }
.bg-teal-lt5{ background-color:#e0f2f1 !important; }
.bg-teal{ background-color:#009688 !important; }
.bg-thistle{ background-color:#ebb0d7 !important; }
.bg-tickle_me_pink{ background-color:#fc80a5 !important; }
.bg-tigers_eye{ background-color:#b56917 !important; }
.bg-timberwolf{ background-color:#d9d6cf !important; }
.bg-transparent{ background-color:transparent !important; }
.bg-tropical_rain_forest{ background-color:#00755e !important; }
.bg-tulip{ background-color:#ff878d !important; }
.bg-tumbleweed{ background-color:#dea681 !important; }
.bg-turquoise_blue{ background-color:#6cdae7 !important; }
.bg-twilight_lavender{ background-color:#8a496b !important; }
.bg-ui-danger{ background-color:#bf5329; }
.bg-ui-error{ background-color:#8eb4cb; }
.bg-ui-good{ background-color:#3097d1; }
.bg-ui-info{ background-color:#8eb4cb; }
.bg-ui-notice{ background-color:#3097d1; }
.bg-ui-primary{ background-color:#3097d1; }
.bg-ui-success{ background-color:#2ab27b; }
.bg-ui-warning{ background-color:#cbb956; }
.bg-ultramarine_blue{ background-color:#3f26bf !important; }
.bg-unmellow_yellow{ background-color:#ffff66 !important; }
.bg-van_dyke_brown{ background-color:#664228 !important; }
.bg-venetian_red{ background-color:#cc553d !important; }
.bg-violet_i{ background-color:#732e6c !important; }
.bg-violet_ii{ background-color:#8359a3 !important; }
.bg-violet-blue{ background-color:#766ec8 !important; }
.bg-violet-red{ background-color:#f7468a !important; }
.bg-vivid_tangerine{ background-color:#ff9980 !important; }
.bg-vivid_violet{ background-color:#803790 !important; }
.bg-wash_the_dog_dandelion{ background-color:#fed85d !important; }
.bg-white{ background-color:#ffffff !important; }
.bg-white{ background-color:white; }
.bg-wild_blue_yonder{ background-color:#7a89b8 !important; }
.bg-wild_strawberry{ background-color:#ff3399 !important; }
.bg-wild_watermelon{ background-color:#fd5b78 !important; }
.bg-winter_sky{ background-color:#ff007c !important; }
.bg-winter_wizard{ background-color:#a0e6ff !important; }
.bg-wintergreen_dream{ background-color:#56887d !important; }
.bg-wisteria{ background-color:#c9a0dc !important; }
.bg-yellow_sunshine{ background-color:#fff700 !important; }
.bg-yellow-ac1{ background-color:#ffff8d !important; }
.bg-yellow-ac2{ background-color:#ffff00 !important; }
.bg-yellow-ac3{ background-color:#ffea00 !important; }
.bg-yellow-ac4{ background-color:#ffd600 !important; }
.bg-yellow-dk1{ background-color:#fdd835 !important; }
.bg-yellow-dk2{ background-color:#fbc02d !important; }
.bg-yellow-dk3{ background-color:#f9a825 !important; }
.bg-yellow-dk4{ background-color:#f57f17 !important; }
.bg-yellow-green{ background-color:#c5e17a !important; }
.bg-yellow-lt1{ background-color:#ffee58 !important; }
.bg-yellow-lt2{ background-color:#fff176 !important; }
.bg-yellow-lt3{ background-color:#fff59d !important; }
.bg-yellow-lt4{ background-color:#fff9c4 !important; }
.bg-yellow-lt5{ background-color:#fffde7 !important; }
.bg-yellow-orange{ background-color:#ffae42 !important; }
.bg-yellow{ background-color:#fbe870 !important; }
.bg-yellow{ background-color:#ffeb3b !important; }
.c-black{ color:black; }
.c-bright{ color:!important; }
.c-fluorescent{ color:!important; }
.c-fragrances{ color:!important; }
.c-inherit{ color:inherit !important; }
.c-jewelrystones{ color:!important; }
.c-magicscents{ color:!important; }
.c-metallic{ color:!important; }
.c-none{ color:none !important; }
.c-scaryscents{ color:!important; }
.c-silver{ color:!important; }
.c-standard{ color:!important; }
.c-ui-danger{ color:#bf5329; }
.c-ui-error{ color:#8eb4cb; }
.c-ui-good{ color:#3097d1; }
.c-ui-info{ color:#8eb4cb; }
.c-ui-notice{ color:#3097d1; }
.c-ui-primary{ color:#3097d1; }
.c-ui-success{ color:#2ab27b; }
.c-ui-warning{ color:#cbb956; }
.c-white{ color:white; }
.cl-amber-ac1{ color:#ffe57f !important; }
.cl-amber-ac2{ color:#ffd740 !important; }
.cl-amber-ac3{ color:#ffc400 !important; }
.cl-amber-ac4{ color:#ffab00 !important; }
.cl-amber-dk1{ color:#ffb300 !important; }
.cl-amber-dk2{ color:#ffa000 !important; }
.cl-amber-dk3{ color:#ff8f00 !important; }
.cl-amber-dk4{ color:#ff6f00 !important; }
.cl-amber-lt1{ color:#ffca28 !important; }
.cl-amber-lt2{ color:#ffd54f !important; }
.cl-amber-lt3{ color:#ffe082 !important; }
.cl-amber-lt4{ color:#ffecb3 !important; }
.cl-amber-lt5{ color:#fff8e1 !important; }
.cl-amber{ color:#ffc107 !important; }
.cl-black{ color:#000000 !important; }
.cl-blue-ac1{ color:#82b1ff !important; }
.cl-blue-ac2{ color:#448aff !important; }
.cl-blue-ac3{ color:#2979ff !important; }
.cl-blue-ac4{ color:#2962ff !important; }
.cl-blue-dk1{ color:#1e88e5 !important; }
.cl-blue-dk2{ color:#1976d2 !important; }
.cl-blue-dk3{ color:#1565c0 !important; }
.cl-blue-dk4{ color:#0d47a1 !important; }
.cl-blue-grey-dk1{ color:#546e7a !important; }
.cl-blue-grey-dk2{ color:#455a64 !important; }
.cl-blue-grey-dk3{ color:#37474f !important; }
.cl-blue-grey-dk4{ color:#263238 !important; }
.cl-blue-grey-lt1{ color:#78909c !important; }
.cl-blue-grey-lt2{ color:#90a4ae !important; }
.cl-blue-grey-lt3{ color:#b0bec5 !important; }
.cl-blue-grey-lt4{ color:#cfd8dc !important; }
.cl-blue-grey-lt5{ color:#eceff1 !important; }
.cl-blue-grey{ color:#607d8b !important; }
.cl-blue-lt1{ color:#42a5f5 !important; }
.cl-blue-lt2{ color:#64b5f6 !important; }
.cl-blue-lt3{ color:#90caf9 !important; }
.cl-blue-lt4{ color:#bbdefb !important; }
.cl-blue-lt5{ color:#e3f2fd !important; }
.cl-blue{ color:#2196f3 !important; }
.cl-brown-dk1{ color:#6d4c41 !important; }
.cl-brown-dk2{ color:#5d4037 !important; }
.cl-brown-dk3{ color:#4e342e !important; }
.cl-brown-dk4{ color:#3e2723 !important; }
.cl-brown-lt1{ color:#8d6e63 !important; }
.cl-brown-lt2{ color:#a1887f !important; }
.cl-brown-lt3{ color:#bcaaa4 !important; }
.cl-brown-lt4{ color:#d7ccc8 !important; }
.cl-brown-lt5{ color:#efebe9 !important; }
.cl-brown{ color:#795548 !important; }
.cl-cyan-ac1{ color:#84ffff !important; }
.cl-cyan-ac2{ color:#18ffff !important; }
.cl-cyan-ac3{ color:#00e5ff !important; }
.cl-cyan-ac4{ color:#00b8d4 !important; }
.cl-cyan-dk1{ color:#00acc1 !important; }
.cl-cyan-dk2{ color:#0097a7 !important; }
.cl-cyan-dk3{ color:#00838f !important; }
.cl-cyan-dk4{ color:#006064 !important; }
.cl-cyan-lt1{ color:#26c6da !important; }
.cl-cyan-lt2{ color:#4dd0e1 !important; }
.cl-cyan-lt3{ color:#80deea !important; }
.cl-cyan-lt4{ color:#b2ebf2 !important; }
.cl-cyan-lt5{ color:#e0f7fa !important; }
.cl-cyan{ color:#00bcd4 !important; }
.cl-deep-orange-ac1{ color:#ff9e80 !important; }
.cl-deep-orange-ac2{ color:#ff6e40 !important; }
.cl-deep-orange-ac3{ color:#ff3d00 !important; }
.cl-deep-orange-ac4{ color:#dd2c00 !important; }
.cl-deep-orange-dk1{ color:#f4511e !important; }
.cl-deep-orange-dk2{ color:#e64a19 !important; }
.cl-deep-orange-dk3{ color:#d84315 !important; }
.cl-deep-orange-dk4{ color:#bf360c !important; }
.cl-deep-orange-lt1{ color:#ff7043 !important; }
.cl-deep-orange-lt2{ color:#ff8a65 !important; }
.cl-deep-orange-lt3{ color:#ffab91 !important; }
.cl-deep-orange-lt4{ color:#ffccbc !important; }
.cl-deep-orange-lt5{ color:#fbe9e7 !important; }
.cl-deep-orange{ color:#ff5722 !important; }
.cl-deep-purple-ac1{ color:#b388ff !important; }
.cl-deep-purple-ac2{ color:#7c4dff !important; }
.cl-deep-purple-ac3{ color:#651fff !important; }
.cl-deep-purple-ac4{ color:#6200ea !important; }
.cl-deep-purple-dk1{ color:#5e35b1 !important; }
.cl-deep-purple-dk2{ color:#512da8 !important; }
.cl-deep-purple-dk3{ color:#4527a0 !important; }
.cl-deep-purple-dk4{ color:#311b92 !important; }
.cl-deep-purple-lt1{ color:#7e57c2 !important; }
.cl-deep-purple-lt2{ color:#9575cd !important; }
.cl-deep-purple-lt3{ color:#b39ddb !important; }
.cl-deep-purple-lt4{ color:#d1c4e9 !important; }
.cl-deep-purple-lt5{ color:#ede7f6 !important; }
.cl-deep-purple{ color:#673ab7 !important; }
.cl-green-ac1{ color:#b9f6ca !important; }
.cl-green-ac2{ color:#69f0ae !important; }
.cl-green-ac3{ color:#00e676 !important; }
.cl-green-ac4{ color:#00c853 !important; }
.cl-green-dk1{ color:#43a047 !important; }
.cl-green-dk2{ color:#388e3c !important; }
.cl-green-dk3{ color:#2e7d32 !important; }
.cl-green-dk4{ color:#1b5e20 !important; }
.cl-green-lt1{ color:#66bb6a !important; }
.cl-green-lt2{ color:#81c784 !important; }
.cl-green-lt3{ color:#a5d6a7 !important; }
.cl-green-lt4{ color:#c8e6c9 !important; }
.cl-green-lt5{ color:#e8f5e9 !important; }
.cl-green{ color:#4caf50 !important; }
.cl-grey-dk1{ color:#757575 !important; }
.cl-grey-dk2{ color:#616161 !important; }
.cl-grey-dk3{ color:#424242 !important; }
.cl-grey-dk4{ color:#212121 !important; }
.cl-grey-lt1{ color:#bdbdbd !important; }
.cl-grey-lt2{ color:#e0e0e0 !important; }
.cl-grey-lt3{ color:#eeeeee !important; }
.cl-grey-lt4{ color:#f5f5f5 !important; }
.cl-grey-lt5{ color:#fafafa !important; }
.cl-grey{ color:#9e9e9e !important; }
.cl-indigo-ac1{ color:#8c9eff !important; }
.cl-indigo-ac2{ color:#536dfe !important; }
.cl-indigo-ac3{ color:#3d5afe !important; }
.cl-indigo-ac4{ color:#304ffe !important; }
.cl-indigo-dk1{ color:#3949ab !important; }
.cl-indigo-dk2{ color:#303f9f !important; }
.cl-indigo-dk3{ color:#283593 !important; }
.cl-indigo-dk4{ color:#1a237e !important; }
.cl-indigo-lt1{ color:#5c6bc0 !important; }
.cl-indigo-lt2{ color:#7986cb !important; }
.cl-indigo-lt3{ color:#9fa8da !important; }
.cl-indigo-lt4{ color:#c5cae9 !important; }
.cl-indigo-lt5{ color:#e8eaf6 !important; }
.cl-indigo{ color:#3f51b5 !important; }
.cl-lightblue-ac1{ color:#80d8ff !important; }
.cl-lightblue-ac2{ color:#40c4ff !important; }
.cl-lightblue-ac3{ color:#00b0ff !important; }
.cl-lightblue-ac4{ color:#0091ea !important; }
.cl-lightblue-dk1{ color:#039be5 !important; }
.cl-lightblue-dk2{ color:#0288d1 !important; }
.cl-lightblue-dk3{ color:#0277bd !important; }
.cl-lightblue-dk4{ color:#01579b !important; }
.cl-lightblue-lt1{ color:#29b6f6 !important; }
.cl-lightblue-lt2{ color:#4fc3f7 !important; }
.cl-lightblue-lt3{ color:#81d4fa !important; }
.cl-lightblue-lt4{ color:#b3e5fc !important; }
.cl-lightblue-lt5{ color:#e1f5fe !important; }
.cl-lightblue{ color:#03a9f4 !important; }
.cl-lightgreen-ac1{ color:#ccff90 !important; }
.cl-lightgreen-ac2{ color:#b2ff59 !important; }
.cl-lightgreen-ac3{ color:#76ff03 !important; }
.cl-lightgreen-ac4{ color:#64dd17 !important; }
.cl-lightgreen-dk1{ color:#7cb342 !important; }
.cl-lightgreen-dk2{ color:#689f38 !important; }
.cl-lightgreen-dk3{ color:#558b2f !important; }
.cl-lightgreen-dk4{ color:#33691e !important; }
.cl-lightgreen-lt1{ color:#9ccc65 !important; }
.cl-lightgreen-lt2{ color:#aed581 !important; }
.cl-lightgreen-lt3{ color:#c5e1a5 !important; }
.cl-lightgreen-lt4{ color:#dcedc8 !important; }
.cl-lightgreen-lt5{ color:#f1f8e9 !important; }
.cl-lightgreen{ color:#8bc34a !important; }
.cl-lime-ac1{ color:#f4ff81 !important; }
.cl-lime-ac2{ color:#eeff41 !important; }
.cl-lime-ac3{ color:#c6ff00 !important; }
.cl-lime-ac4{ color:#aeea00 !important; }
.cl-lime-dk1{ color:#c0ca33 !important; }
.cl-lime-dk2{ color:#afb42b !important; }
.cl-lime-dk3{ color:#9e9d24 !important; }
.cl-lime-dk4{ color:#827717 !important; }
.cl-lime-lt1{ color:#d4e157 !important; }
.cl-lime-lt2{ color:#dce775 !important; }
.cl-lime-lt3{ color:#e6ee9c !important; }
.cl-lime-lt4{ color:#f0f4c3 !important; }
.cl-lime-lt5{ color:#f9fbe7 !important; }
.cl-lime{ color:#cddc39 !important; }
.cl-orange-ac1{ color:#ffd180 !important; }
.cl-orange-ac2{ color:#ffab40 !important; }
.cl-orange-ac3{ color:#ff9100 !important; }
.cl-orange-ac4{ color:#ff6d00 !important; }
.cl-orange-dk1{ color:#fb8c00 !important; }
.cl-orange-dk2{ color:#f57c00 !important; }
.cl-orange-dk3{ color:#ef6c00 !important; }
.cl-orange-dk4{ color:#e65100 !important; }
.cl-orange-lt1{ color:#ffa726 !important; }
.cl-orange-lt2{ color:#ffb74d !important; }
.cl-orange-lt3{ color:#ffcc80 !important; }
.cl-orange-lt4{ color:#ffe0b2 !important; }
.cl-orange-lt5{ color:#fff3e0 !important; }
.cl-orange{ color:#ff9800 !important; }
.cl-pink-ac1{ color:#ff80ab !important; }
.cl-pink-ac2{ color:#ff4081 !important; }
.cl-pink-ac3{ color:#f50057 !important; }
.cl-pink-ac4{ color:#c51162 !important; }
.cl-pink-dk1{ color:#d81b60 !important; }
.cl-pink-dk2{ color:#c2185b !important; }
.cl-pink-dk3{ color:#ad1457 !important; }
.cl-pink-dk4{ color:#880e4f !important; }
.cl-pink-lt1{ color:#ec407a !important; }
.cl-pink-lt2{ color:#f06292 !important; }
.cl-pink-lt3{ color:#f48fb1 !important; }
.cl-pink-lt4{ color:#f8bbd0 !important; }
.cl-pink-lt5{ color:#fce4ec !important; }
.cl-pink{ color:#e91e63 !important; }
.cl-purple-ac1{ color:#ea80fc !important; }
.cl-purple-ac2{ color:#e040fb !important; }
.cl-purple-ac3{ color:#d500f9 !important; }
.cl-purple-ac4{ color:#aa00ff !important; }
.cl-purple-dk1{ color:#8e24aa !important; }
.cl-purple-dk2{ color:#7b1fa2 !important; }
.cl-purple-dk3{ color:#6a1b9a !important; }
.cl-purple-dk4{ color:#4a148c !important; }
.cl-purple-lt1{ color:#ab47bc !important; }
.cl-purple-lt2{ color:#ba68c8 !important; }
.cl-purple-lt3{ color:#ce93d8 !important; }
.cl-purple-lt4{ color:#e1bee7 !important; }
.cl-purple-lt5{ color:#f3e5f5 !important; }
.cl-purple{ color:#9c27b0 !important; }
.cl-red-ac1{ color:#ff8a80 !important; }
.cl-red-ac2{ color:#ff5252 !important; }
.cl-red-ac3{ color:#ff1744 !important; }
.cl-red-ac4{ color:#d50000 !important; }
.cl-red-dk1{ color:#e53935 !important; }
.cl-red-dk2{ color:#d32f2f !important; }
.cl-red-dk3{ color:#c62828 !important; }
.cl-red-dk4{ color:#b71c1c !important; }
.cl-red-lt1{ color:#ef5350 !important; }
.cl-red-lt2{ color:#e57373 !important; }
.cl-red-lt3{ color:#ef9a9a !important; }
.cl-red-lt4{ color:#ffcdd2 !important; }
.cl-red-lt5{ color:#ffebee !important; }
.cl-red{ color:#f44336 !important; }
.cl-teal-ac1{ color:#a7ffeb !important; }
.cl-teal-ac2{ color:#64ffda !important; }
.cl-teal-ac3{ color:#1de9b6 !important; }
.cl-teal-ac4{ color:#00bfa5 !important; }
.cl-teal-dk1{ color:#00897b !important; }
.cl-teal-dk2{ color:#00796b !important; }
.cl-teal-dk3{ color:#00695c !important; }
.cl-teal-dk4{ color:#004d40 !important; }
.cl-teal-lt1{ color:#26a69a !important; }
.cl-teal-lt2{ color:#4db6ac !important; }
.cl-teal-lt3{ color:#80cbc4 !important; }
.cl-teal-lt4{ color:#b2dfdb !important; }
.cl-teal-lt5{ color:#e0f2f1 !important; }
.cl-teal{ color:#009688 !important; }
.cl-transparent{ color:transparent !important; }
.cl-white{ color:#ffffff !important; }
.cl-yellow-ac1{ color:#ffff8d !important; }
.cl-yellow-ac2{ color:#ffff00 !important; }
.cl-yellow-ac3{ color:#ffea00 !important; }
.cl-yellow-ac4{ color:#ffd600 !important; }
.cl-yellow-dk1{ color:#fdd835 !important; }
.cl-yellow-dk2{ color:#fbc02d !important; }
.cl-yellow-dk3{ color:#f9a825 !important; }
.cl-yellow-dk4{ color:#f57f17 !important; }
.cl-yellow-lt1{ color:#ffee58 !important; }
.cl-yellow-lt2{ color:#fff176 !important; }
.cl-yellow-lt3{ color:#fff59d !important; }
.cl-yellow-lt4{ color:#fff9c4 !important; }
.cl-yellow-lt5{ color:#fffde7 !important; }
.cl-yellow{ color:#ffeb3b !important; }
