.content_area {
  margin-top: 2em;
  font-size: 16px;
}

.content_area h1 {
  font-size: 1.5em;
}

.content_area h2 {
  font-size: 1.3em;
}

.content_area h3, .content_area h4, .content_area h5, .content_area h6 {
  font-size: 1em;
}

.content_area h1, .content_area h2, .content_area h3, .content_area h4, .content_area h5 {
  margin-bottom: .6em;
  font-weight: 600;
  color: var(--color-dark);
}

.content_area ol {
  margin-top: 1em;
  padding-left: .1em;
  list-style-type: decimal;
  list-style: decimal;
}

.content_area ul {
  margin-top: 1em;
  padding-left: 1em;
  list-style: disc;
  list-style-type: disc;
}

.content_area ol li,
.content_area ul li {
  margin: initial;
  padding: initial;
  display: list-item;
  margin-left: .5em;
  margin-bottom: calc(1.45rem / 2);
}

.content_area a {
  font-size: 1em;
  text-decoration: underline;
}

.content_area blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid var(--color-darkgrey);
  font-size: inherit;
  background: rgba(0,0,0,.04);
  line-height: inherit;
}
