@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Muli', sans-serif;
  font-weight: 800;
}

.surveyAlert {
  width: 98vw !important;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.surveyAlert .swal2-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.surveyAlert .swal2-content #swal2-content {
  position: relative;
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.surveyAlert .swal2-content #swal2-content iframe {
  border: none;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.nohover:hover {
  color: inherit !important;
  background-color: inherit !important;
}

.nohover:hover::before {
  content: unset !important;
  color: inherit !important;
  background-color: inherit !important;
}

.page.home_page {
  font-size: 1.1em;
}

.list {
  display: block;
  list-style: disc;
  padding-left: 1em;
}

.list li {
  display: list-item;
  list-style: disc;
  margin: 0.9em 0em 0.9em 0.7em;
}

.nav-item:hover {
  text-decoration: none;
}
