.results-section .selected-section {
  margin-top: .3em;
}

.results-section .selected-section .results-loader {
  margin-top: -20px;
  height: 500px;
}

.results-section .selected-section h2.no-results {
  margin-top: 50px;
  text-align: center;
}
