:root {
  --color-surface: white;
  --color-solid: black;
  --color-primary: #ffce35;
  --color-pink: #dc27af;
  --color-darkgrey: #282828;
  --color-teal: #6fe5e6;
  --page-width: 1200px;
}

.cl-primary { color: var(--color-primary) !important; }
.bg-primary { background-color: var(--color-primary) !important; }
.br-primary { border-color: var(--color-primary) !important; }

.cl-pink { color: var(--color-pink) !important; }
.bg-pink { background-color: var(--color-pink) !important; }
.br-pink { border-color: var(--color-pink) !important; }

.cl-pink { color: var(--color-pink) !important; }
.bg-pink { background-color: var(--color-pink) !important; }
.br-pink { border-color: var(--color-pink) !important; }

.cl-teal { color: var(--color-teal) !important; }
.bg-teal { background-color: var(--color-teal) !important; }
.br-teal { border-color: var(--color-teal) !important; }

.cl-darkgrey { color: var(--color-darkgrey) !important; }
.bg-darkgrey { background-color: var(--color-darkgrey) !important; }
.br-darkgrey { border-color: var(--color-darkgrey) !important; }
